[2018-05-15 14:48] noboruma opened #1 "Template instantiation `()` handling issue"
For some reason, the following code:
`template<typename T>
T foo() {return T(42); }
int a = foo<int>();`
produces:
`return int42;`
I would have expected `return int(42)`?
Using `{}` works fine, but `()` concatenate the type and the value somehow.

[2018-05-16 08:04] ombre5733 opened #2 "Lambda capture with renamed variables is wrongly instantiated"
This code

[code]
instantiates the lambda with

    __lambda_19 fun = __lambda_19{x};

However, this is wrong, because there is no `x` in `main` but only an `m`. Unfortunately, this example is even more comples, because `m` must be moved into the lambda, so also the constructor must be modified to move its arguments to the fields.

But a very cool project! :+1:

[2018-05-16 11:41] Alcaro opened #3 "Nested lambdas yield broken tokens"
Found this on LLVM Weekly. Neat project.

Unfortunately, lambda handling seems quite buggy. For example:

[code]

[code]

I'm not sure what __lambda_3; in operator() is supposed to do, and __lambda_4{}da_3{} is nonsense.

I suspect you're replacing the substring at [4,7) with something longer, then doing another replacement on the same line, without adjusting the offsets to account for the previou

[2018-05-16 12:55] noboruma commented on #1
Awesome, this is all fixed!
Thanks for sharing that great tool by the way 👍

[2018-05-16 12:55] #1 closed

[2018-05-16 19:30] andreasfertig opened #4 "Lambda with copy capture with init fails"
The following code was reported as broken:

#include <cstdio>
//#include <vector>
//#include <iostream>
using namespace std;

int main()
{
  	static const char arr[] = { 1,2,3 };
	auto&& l=[ uuu = arr[1]]{
    	printf("a: %c\n", uuu);
    };
}

[2018-05-16 19:53] andreasfertig opened #5 "Providing more demo code to show in C++ Insights"
One request I got multiple times is to have more example transformations available. In a drop-down list or something. I opened this issue and asking for submissions. Which code-snippets should be on such a list?

[2018-05-16 20:10] andreasfertig commented on #2
Thank you! I will have a look into it.

[2018-05-16 20:12] andreasfertig commented on #3
Thanks for reporting. It looks like the matcher matches twice. Column number is a excellent idea. I like to keep the name stable, hence the line number. Adding the column number to it should make it more robust. I will look into that.

[2018-05-17 13:35] weliveindetail commented on #5
In addition to the existing Range-based For Loop example, one for C++17 Structured Bindings may be a good candidate, e.g:
[code]

This emits:
[code]

[2018-05-17 22:45] weliveindetail commented on #5
[code]

[2018-05-18 16:18] andreasfertig opened #6 "Improve auto&&"
The example for [range-based for-loops](https://cppinsights.io/lnk?code=I2luY2x1ZGUgPGNzdGRpbz4KCmludCBtYWluKCkKewogICAgY29uc3QgY2hhciBhcnJbXXsyLDQsNiw4LDEwfTsKCiAgICBmb3IoY29uc3QgY2hhciYgYyA6IGFycikKICAgIHsKICAgICAgcHJpbnRmKCJjPSVjXG4iLCBjKTsKICAgIH0KfQ==&rev=1.0) on the about page transforms this piece of code:

[code]

into this:
[code]

Leaving the ```auto&& __range1 = arr;``` is wrong as it w

[2018-05-18 18:31] #6 closed

[2018-05-19 08:35] pravic opened #8 "Synchronize scrolling in the web version"
Hello,

First of all, thanks for this interesting and very useful tool. It will be really helpful for newcomers and those who want to refresh his knowledge of modern C++ standards.

Just a suggestion of a tiny UX improvement: it'd be nice to synchronize code output in the web page when scrolling. Right now you have to scroll both panels manually to compare output side by side.

Optionally, may be

[2018-05-19 09:32] andreasfertig commented on #8
Hello pravic,

thank you!

I think it is hard to scroll both. Sometimes the transformed code is more than the original one. For example, if you play with templates and instantiate a lot of them the right side has way more content than the left. If you know a way to do that I welcome a PR.

Initially I had such a diff view in mind. I still do. Its just that my web development skills are, well low.

[2018-05-19 17:26] pravic commented on #8
That's the point :) It's called "Synchronized scrolling", a very popular feature in some code editors and in almost all diff viewers.

But yes, I think it is related to the diff feature itself which might be implemented in some JS component already. Who knows.

[2018-05-23 10:26] rudalert opened #13 "Incorrect insight to const auto&"
The following example
[code]
 is translated incorrectly:
[code]

Similar happens with `const auto&&`.

[2018-05-23 20:26] #13 closed

[2018-05-23 20:31] andreasfertig commented on #13
Hello rudalert,

thanks for pointing this out. Totally correct, I dropped a const, as well as a possible volatile, here. There are a couple more places where this could occur. I pushed a fix for it, you can check it online.

[2018-05-25 11:39] Kurkin opened #15 "Argument is missed in case chrono_literals"
[code]
[code]

[2018-05-25 18:10] Kurkin commented on #15
Thanks for quick fix! Your tool is awesome!

[2018-05-25 18:51] Kurkin commented on #15
Sorry, but as i can see test is failed and incorrect output generated
[code]

[2018-05-25 19:04] andreasfertig commented on #15
Hi Kurkin,

I'm glad you like it.

Multiple things. Currently only the OS X tests count and should pass. The reason is, that libc++ and libstdc++ generate different results. As my main development happens under OS X I use that as a reference. The web front-end uses Docker and with that Linux. As far as I could see you reference the Linux build in the diff. Now the interesting thing seems to be tha

[2018-05-25 19:26] Kurkin commented on #15
I guess with libstdc++ it should be
[code]
https://godbolt.org/g/ndb2yd

[2018-05-25 20:10] andreasfertig commented on #15
Thanks that's it! Patch is on its way.

[2018-05-25 20:33] #15 closed

[2018-05-28 20:33] tavianator opened #20 "Nonexistent variable used, with unbalanced parentheses"
[This example](https://cppinsights.io/lnk?code=I2luY2x1ZGUgPG1hcD4KCmludCBtYWluKCkKewogICAgc3RkOjptYXA8aW50LCBpbnQ+IG1hcHt7MSwgMn19OwogICAgYXV0byBba2V5LCB2YWx1ZV0gPSAqbWFwLmJlZ2luKCk7Cn0K&rev=1.0) on cppinsights.io:

[code]

apparently desugars to

[code]

But `__opemap.begin().operator*()` should presumably be `__operator6)`

[2018-05-31 17:32] jonathanberthias opened #24 "Casting in class error"
There is a small bug when casting is done with a class member. As an example:

[code]

yields

[code]

An additionnal `p` is added after the cast, making the resulting code uncompilable.

Other than that, it is a great project !

[2018-05-31 19:54] andreasfertig commented on #24
Hello Jonathan,

thank you! Fix is on its way.

[2018-05-31 20:35] #24 closed

[2018-06-04 13:29] Muzer opened #28 "Brokenness for custom string literals"
I just had the following code:

[code]

...and cppinsights gave me the following output:

[code]

Note especially the `3std`.

[2018-06-04 13:48] andreasfertig commented on #28
Hi,

thanks for reporting it.

[2018-06-04 14:06] #28 closed

[2018-06-10 16:17] #3 closed

[2018-06-10 18:02] Alcaro commented on #3
Yep, looks good to me, I can no longer produce any non-compiling output.

[2018-06-13 15:21] preejackie opened #34 "How to get the expected generated c++ code with cppinsights ?"
How to get the generated c++ source code (with compiler generated code)? Are there any special commands I have to pass along with "clang++ -std=cxx source_code.cpp " while compiling the source code?
Thanks

[2018-06-13 16:06] andreasfertig commented on #34
Hello preejackie,

I'm not sure I understand the question. Do you aim to achieve the transformation as the web client shows it? Then it would be roughly: ./insights source_code.cpp -- -std=c++1z and probably the include path(s).

[2018-06-16 15:28] ninkibah opened #36 "Support for C++17"
It seems that the code uses CLang 4.9 on the website. Is it possible to update to Clang 6?
Also, it might be nice to choose which language standard to use.
I searched in vane for a place to add compiler flags.

[2018-06-17 14:53] andreasfertig commented on #36
Hi,

thanks for pointing that out. There is a [reddit](https://www.reddit.com/r/cpp/comments/8jazit/c_insights_see_your_source_code_with_the_eyes_of/e0anv0x/) comment which mentions that `std::byte` is not working.

After some struggle it looks like I figured it out. The web front-end now runs with gcc/g++ 7 headers and with `-std=c++17` enabled. Hope that fits your needs.

Regarding the compiler

[2018-06-18 20:49] #34 closed

[2018-06-20 19:32] #36 closed

[2018-07-12 19:33] cpp-red-lion opened #41 "Segmentation fault when using polymorphic lambdas"
Hi,

See sample code:

[Sample](https://cppinsights.io/lnk?code=I2luY2x1ZGUgPHZlY3Rvcj4KI2luY2x1ZGUgPGFsZ29yaXRobT4KI2luY2x1ZGUgPHN0cmluZz4KCnVzaW5nIG5hbWVzcGFjZSBzdGQ7CgppbnQgbWFpbigpCnsKICB2ZWN0b3I8c3RyaW5nPiB2ID0geyAiYWFhIiwgImJiYiIsICJjY2MiIH07CiAgCiAgYXV0byBpdCA9IHN0ZDo6ZmluZF9pZihiZWdpbih2KSwgZW5kKHYpLCAKICAgICAgICAgICAgICAgICAgICAgICAgIFtdKGNvbnN0IGF1dG8gJiBzdHIpeyByZXR1cm4gc3RyID09ICJiYmIi

[2018-07-14 08:08] andreasfertig commented on #41
Hi Victor,

congratulations this is the first official crash report!!! :-)

I aim to release a major update today. After that I will add the fix to this issue (typical nullptr problem :-()

[2018-07-14 13:01] #41 closed

[2018-07-14 20:18] pepsiman opened #44 "Subscript expressions"
https://en.cppreference.com/w/cpp/language/operator_member_access says
"The built-in subscript expression E1[E2] is exactly identical to the expression *(E1 + E2)"
It's a useful insight when E1 is not an array or pointer, but E2 is.

[2018-07-14 20:24] pepsiman opened #45 "For loops"
https://en.cppreference.com/w/cpp/language/for says that for loops are equivalent to while loops.

"The above syntax produces code equivalent to:

{
init_statement
while ( condition ) {
statement
iteration_expression ;
}
}"

[2018-07-15 15:52] neobrain opened #46 "Expansion of global lambda expressions is broken"
Lambda expressions at global scope generate unintelligible output. C++ Insights is supposed to replace them with equivalent, explicit class definitions, but this only seems to work properly for lambda expressions defined inside a function.

The following table illustrates the output for a locally defined lambda (fine) vs. two instances of global lambdas (broken).

<table>
<tr>
<th>
Input
</th>
<th

[2018-07-15 18:49] andreasfertig commented on #46
Hi Tony,

thanks for reporting that with Tony-Tables :-) Surprisingly I have no test for a global Lambda.

The AST matchers are still a source of trouble. Next step is matching the whole TU. But that will take some time.

However, patch is on its way.

[2018-07-15 19:16] #46 closed

[2018-07-16 12:10] neobrain commented on #46
Happy to help, thanks for the quick fix :)

[2018-07-17 10:29] adromanov opened #50 "Reference collapsing works wrong"
For the following piece of code:
[code]
output of an instantiation of ``foo`` is the following:
[code]
Argument type should be ``Test &`` but not ``Test &&`` because of reference collapsing.

[2018-07-19 09:06] adromanov opened #51 "insights crashed on some invalid inputs"
Crashed on the following piece of code:
[code]
Output is:
[code]

Without line
[code]
there is no crash, just errors reported.

[2018-07-19 20:31] andreasfertig commented on #44
Hello pepsiman,

wonderful. That's one of this nice language features where I ask myself why it is there. I did a quick test and if that the transformation is easy at a first glance, all cases are more difficult. Once again I'm thinking about an option to show it ore leave it the way it is. Of course, a PR is welcome.

[2018-07-20 07:34] pepsiman commented on #45
I was thinking that there's a sequence of transforms, and the user chooses where to stop.
Range based for -> for -> while -> if and goto.

[2018-07-20 10:13] adromanov commented on #51
Your local machine is on OS X, right? My is on linux and I can see a crash locally. Latest llvm+clang built with gcc-8.1.0.

[2018-07-20 17:38] andreasfertig commented on #51
Thanks for your spec. It's correct I use OS X. I will fire up a docker container and see what's happening there. There is a chance that it is a bug which is also reachable in a different (compiling) context.

[2018-07-20 19:51] #51 closed

[2018-07-21 10:12] adromanov opened #53 "Incorrect output when special member function is default"
Output is incorrect when special member function is marked default outside of a class definition:
[code]

Output is:
[code]

[2018-07-23 09:20] adromanov commented on #53
1. What about extra semicolons in a class definition? I believe this is not related to this issue, but still. Is there a case already for that?
2. Maybe the output of
[code]
should be
[code]
instead of
[code]
I suppose it should since insights inserts noexcept to all places where it is true. What do you think about it?

[2018-07-25 17:41] preejackie opened #56 "Error in Building Cppinsights"
Hi @andreasfertig
I'm having trouble while installing cppinsights in my machine. I have summarised in this StackOverflow [post](https://stackoverflow.com/questions/51524660/make-command-fatal-error) about my problem. I don't know exactly what was the cause of this problem. I still think this was an issue with respect to my system, could you please help me to build cppinsights :+1:

I will close th

[2018-07-26 06:14] andreasfertig commented on #56
Hello preejackie,

it looks like llvm-config does return something the build system does not expect. Can you confirm that the following file exists:
[code]

It is also suspicious that llvm_config(LLVM_SYSTEM_LIBS)=>; is empty. Usually it looks like this:
[code]

Can you also post the output of
[code]

[2018-07-26 06:16] andreasfertig commented on #53
Hello adromanov,

1. I belive they are also handled better with that fix.
2. That's a good idea.

[2018-07-26 16:44] andreasfertig commented on #56
Hi,

`/home/praveen/llvm-novice/llvm/tools/clang/include/clang/AST` looks like the clang/llvm source path to me. At least in my installation this is the case. But not the clang/llvm install location. Did you do a ninja/make install? It looks to me that you clang/llvm setup is incomplete. That said `/home/praveen/llvm-novice/llvm/include;` also looks odd. Usually, if you have `/home/praveen/ninja/b

[2018-07-27 21:58] adromanov commented on #50
I've made some investigation on a following snippet:
[code]
When insights process this parameter it eventually calls
[code]
Actually, at this point ``t->getTypeClass()`` is ``Type::LValueReference`` and ``t->isLValueReferenceType()`` is **true**.
The reason that ``t.getAsString(..)`` returns ``int &&`` is how clang implements
[code]
Simplified call graph looks like:
[code]

So, clang itself produc

[2018-07-28 07:51] preejackie commented on #56
Let me install llvm and clang properly once again, and see what happens
Hoping this time it will build.
Thanks

[2018-07-28 12:51] preejackie commented on #56
Hi @andreasfertig
I have built the recent version of LLVM.

The command I used to build cppinsights is -

cmake -GNinja ../cppinsights -DCMAKE_CXX_COMPILER=/home/praveen/live/install/bin/clang++ -DCMAKE_PREFIX_PATH=/home/praveen/live/install/bin

-- The C compiler identification is GNU 5.4.0
-- The CXX compiler identification is Clang 7.0.0
-- Check for working C compiler: /usr/bin/cc
-- Check for

[2018-07-28 12:54] preejackie commented on #56
The instructions I used to build LLVM is

cmake -DCMAKE_BUILD_TYPE=Release -DLLVM_ENABLE_ASSERTIONS=On -DLLVM_PARALLEL_LINK_JOBS=1\
-DLLVM_ENABLE_LLD=1 -DLLVM_TARGETS_TO_BUILD="X86" ../llvm

[2018-07-28 13:00] preejackie commented on #56
Please check whether there is a mistake in CMakeLists.txt. FYI the AST.h is available in the directory
/home/praveen/live/llvm/tools/clang/include/clang/AST.
I placed my clang source files in the directory /home/praveen/live/llvm/tools.
I think that llvm-build is good.

[2018-07-29 09:15] andreasfertig commented on #50
Hello adromanov,

thanks for nailing it down. It sure looks like a bug in clang. And I agree, it can be workaround in insights. I already have an idea, but this issue did draw my attention more to templates. Currently I'm looking into more than just this issue. There are a couple of other things which are incorrect. As soon as I have all together I will push a (temporary) fix.
Do you know how to o

[2018-07-29 09:18] adromanov commented on #50
I'll try to report in a couple of days.

[2018-07-29 14:50] andreasfertig commented on #56
Hello,

this seems to be again an issue with your build system. As far as I can tell you require `libstdc++-7-dev` when using a recent clang. I just update travis to use this libstdc++ version and it works.

[2018-07-29 16:36] adromanov commented on #50
That workaround doesn't work with:
[code]
Top level && should be replaced with &, not the first one. This is tricky when we have only string representation of a type.

[2018-07-30 09:40] adromanov commented on #50
Reported https://bugs.llvm.org/show_bug.cgi?id=38363

[2018-07-30 19:18] preejackie commented on #56
Finally, I somehow got managed to get build correct. It is working but when I include header files in .cpp files it gives fatal error as file not found. How I can pass the path to my header files as command line arguments?

[2018-08-02 06:40] andreasfertig commented on #56
Hello preejackie,

if I undestand your question correct, then it is the same way as for every other clang tool as well:

[code]

[2018-08-02 06:43] andreasfertig commented on #50
Thanks! I'm curious what they say. I will revert the not so well working patch.

[2018-08-02 19:02] preejackie commented on #56
Hi @andreasfertig
In short,
I have different versions of gcc like 5.4.0, 6, 7.3, 8.1.0  installed in my systems. But by default the system uses gcc-5.4.0 installation for clang++. In clang++ command line option , we can tell clang to find different versions of gcc installed using "--gcc-toolchain" option. I tried " insights file.cpp -- -std=c++17 -extra-arg=--gcc-toolchain=/path/to/gcc-8.1/toolcha

[2018-08-13 19:18] ninkibah opened #60 "Using pointer to member as a template argument is converted to the type of the member"
I wrote some code that uses a pointer to a class member as a template parameter:

[pointerToMemberBug.cpp.txt](https://github.com/andreasfertig/cppinsights/files/2284383/pointerToMemberBug.cpp.txt)
Sadly, the expanded code is showing as:
#ifdef INSIGHTS_USE_TEMPLATE
template<>
struct Index<int> // instead of struct Index<&Person::age>

t always seems to use the type of the data member as the templ

[2018-08-16 08:38] andreasfertig commented on #60
Hello ninkibah,

it could be that the `auto` template parameter is the root of the problem. Maybe this is handled incorrectly. I will have a look into it. Thanks for reporting.

Just one question, the `template<> struct Index<XXXX>` is always generated, correct. It changes from `int` to `long` if you change the type of `Person::age`.

[2018-08-16 10:40] ninkibah commented on #60
Andreas,
Yes the template<> struct Index<XXXX> is always generated, and the type of XXXX is always the type of Person::age.

BTW, is it at all possible to generate output, even when the code has errors? The reason I ask is, your tool would then become a major asset in developing template code.

[2018-08-17 16:42] andreasfertig commented on #60
Code with errors in blocked in the web version. In general it does compile code with errors, but the result is questionable. After all it is a clang tool and with that has the same limits as a compiler. You can try it out locally and tell me what you think.

[2018-08-22 09:53] #60 closed

[2018-08-22 10:42] ninkibah commented on #60
Andreas, this works wonderfully. Thank you.

[2018-08-22 16:55] andreasfertig commented on #60
Hello ninkibah,

your welcome! And thanks for pointing out the error that I can improve the tool.

[2018-08-25 12:03] neobrain opened #62 "Generated function specializations: Parameters generated from parameter packs use the same name"
C++ Insights generates explicit specializations for template functions. When the primary function template contains any parameter packs, the parameters generated from the pack in the specialization will all use the same name. It would be nice for the names to be distinguished.

See below:

<table>
<tr>
<th>
Input
</th>
<th>
C++ Insights
</th>
<th>
Desired
</th>
</tr>
<tr>
<td  valign="top">
<pre l

[2018-08-25 12:34] andreasfertig commented on #62
Hi Tony,

thanks for the report. I know this problem and unfortunately I haven't found a good solution, because as you mention libclang does not provide a way to retrieve the name. I once played with the idea of a counter but did not succeed. I just don't remember why. I believe it was because at the time the parameter name is generated, there is no more knowledge whether it is for a parameter pac

[2018-08-28 12:57] textshell opened #64 "Lambda Capture by value for reference typed variables."
According to http://eel.is/c++draft/expr.prim.lambda#capture-10 and cppreference.org lambdas seems to capture references as copies of the decayed type.

But cppinsights does not agree given:
[code]

It generates:
[code]

Where i would expect based on the linked section that it would produce:
[code]

[2018-08-28 18:42] #64 closed

[2018-08-28 18:52] andreasfertig commented on #64
Thanks for reporting that. Please check if it is correct now.

[2018-08-28 19:04] textshell commented on #64
Thanks. Now output matches my expectations and a small test program also agrees that by value captures of references don't allow modifying the original object.

[2018-08-29 16:41] preejackie opened #66 "LLVMSymbolizer: error reading file: No such file or directory"
I have installed cppinsights in my PC. When I run cppinsights it throws some error like this,

LLVMSymbolizer: error reading file: No such file or directory
#0 0x000000000156219a (insights+0x156219a)
#1 0x00000000015605c4 (insights+0x15605c4)
#2 0x0000000001560702 (insights+0x1560702)
#3 0x00007f0326e3f890 __restore_rt (/lib/x86_64-linux-gnu/libpthread.so.0+0x12890)
#4 0x000000000054bb7a (insights

[2018-08-29 16:53] andreasfertig commented on #66
Hello preejackie,

hard to say. How did you invoke insights? Can you post the file you did try to feed in?

[2018-08-29 17:05] preejackie commented on #66
I invoke insights like this:
insights in.cpp -- -std=c++17.

contents of in.cpp
int main()
{
return 0;
}

[2018-08-29 17:30] preejackie commented on #66
Hello, Unfortunately, I didn't have a docker account with me : (, By compilation / installation issue whether you mean by it is the issue of resulting from llvm or cppinsights ?

[2018-08-29 17:48] andreasfertig commented on #66
Well, in general the cpp-content is parsable by cppinsights. What I see here is however, a crash. It now could be, that this comes from a mixed compilation of cppinsights.
You can try to compile it again with debug turned on. That way the symbols may be more readable.

[2018-08-29 17:52] andreasfertig commented on #66
Does it crash also if you just use `insights -help`?

[2018-08-29 18:03] preejackie commented on #66
As far as I understand from your last comment, this is the issue in cppinsights. If so, Is there any way for getting it correct?
Software Information:
Clang version 8.0.0
G++ 7.3.0
OS - Linux Mint 19
As you mentioned how I can compile it debug turned on ? Is there any special flag for that in insights ?
Thanks

[2018-08-29 18:05] preejackie commented on #66
No it is not crashing when insights -help

[2018-08-29 18:12] andreasfertig commented on #66
I assume that it is due to the way/environment it was compiled. It does not crash on my machine nor in the web version.

Please have at look at the Readme.md for compilation options like `DEBUG`. If it is turned on, the resulting binary contains all the symbol information. With that your output may contain a clue where and why it crashes.

What does ldd insights report?

[2018-08-29 18:34] preejackie commented on #66
After building with debug=on.
the output of ldd insights is

insights[0x156219a]
insights[0x15605c4]
insights[0x1560702]
/lib/x86_64-linux-gnu/libpthread.so.0(+0x12890)[0x7f786fd3a890]
insights[0x54bb7a]
insights[0x51b0ca]
insights[0x5dccb0]
insights[0x5e1715]
insights[0x5a19ae]
insights[0x53f484]
insights[0x53607c]
insights[0x53b1ee]
insights[0x53ddb2]
insights[0x51a869]
/lib/x86_64-linux-gnu/lib

[2018-08-29 18:39] preejackie commented on #66
hi
If you find a solution please let me know

[2018-08-29 18:43] andreasfertig commented on #66
Can you rebuild it with INSIGHTS_STRIP=no that should keep the symbols.

[2018-08-29 19:07] preejackie commented on #66
I have build with insights_strip=no, but it didn't gave any information.
I used : cmake -G"Ninja" ../cppinsights -DCMAKE_BUILD_TYPE=Debug -DINSIGHTS_STRIP=no -DCMAKE_PREFIX_PATH=/home/preejackie/sllvm_install/bin

[2018-08-30 20:47] andreasfertig commented on #66
Hello preejackie,

I'm sorry but without debug symbols I have no clue where to start. I did setup a docker using Mint 19 and everything worked. I cannot reproduce your problem.

Here are the things you might consider:
- Using the Docker image as a start and check, if things work there.
- Use LLVM apt current to get the clang/LLVM binaries and compile against them (see travis or the Dockerfile for

[2018-09-13 13:17] languagelawyer opened #74 "Incorrect type of a function returning a reference to an array"
For the following code
[code]
Insight produces (array declaration is skipped)
[code]
whilst it shall be
[code]

[2018-09-13 20:38] andreasfertig commented on #74
Hello languagelawyer,

thanks for reporting that. I'll have a look into it for how to fix it.

[2018-09-13 20:42] languagelawyer commented on #74
Prolly the easiest way to fix this is to use trailing return type.

[2018-09-16 20:33] #74 closed

[2018-09-16 20:43] andreasfertig commented on #74
I just pushed a fix. Let me know what you think. It is without trailing return type and it passed all my existing tests.

[2018-09-16 20:47] languagelawyer commented on #74
I've already tested it at the cppinsights.io
I've thought there is no easy way to put the function name into the correct place in such a function type with libclang, that is why I've proposed the use of trailing return type.
But it seems that it is not difficult, so there is no need in trailing return type.

[2018-09-16 21:14] andreasfertig commented on #74
Yeah the way is ugly. I insert it in the string. But I used this system already.
At some point I think I will implement my own AST to type version. But so far I can life with libclang.

[2018-09-20 12:49] adromanov commented on #50
Please, remove double ampersand hack from ``static const std::string GetAsCPPStyleString(const QualType& t)``:
1) it doesn't work properly
2) With new LLVM 7.0.0 there is no need in it - everything works fine, ``&`` is printed instead of ``&&``

Thanks!

[2018-09-20 19:19] andreasfertig commented on #50
Hello adromanov,

I just reverted the hack. However, I could not confirm that it is fixed in my clang 7.0.0 version. That could be as it is a couple days if not weeks old. Also it will not show up in the web-frontend as Travis CI does not support the new llvm 7 repository yet. At least not easily.

[2018-09-21 09:45] adromanov commented on #50
I've built a fresh 7.0.0 yesterday (tags/RELEASE_700/final) - it works for me.

[2018-09-23 22:45] rayhamel opened #78 "limits.h header isn't in include path"
If you include the standard C header `limits.h`, you get a `fatal error: 'limits.h' file not found`. The header `climits` is found, but since `climits` includes `limits.h`, compilation fails with the same error.

[2018-09-29 17:27] andreasfertig commented on #78
Hello Ray,

I fix this issue. The following code works now: https://cppinsights.io/lnk?code=I2luY2x1ZGUgPGNzdGRpbz4KI2luY2x1ZGUgPGNsaW1pdHM+CgppbnQgbWFpbigpCnsKICAgIHJldHVybiBDSEFSX0JJVDsKfQ==&rev=1.0

[2018-09-29 17:27] #78 closed

[2018-09-29 17:30] andreasfertig commented on #50
Hello adromanov,

I finally updated to Clang 7.0. As far as I can see this issue is be solved now.

[2018-09-29 17:30] #50 closed

[2018-09-29 20:36] rayhamel opened #81 "Incorrect return type of a function returning a pointer to an array"
See #74.

For this snippet
[code]
Insights incorrectly outputs
[code]
and for this snippet
[code]
Insights incorrectly outputs
[code]
instead of the correct output for both snippets.
[code]

[2018-09-30 07:44] andreasfertig commented on #81
Hello Ray,

thanks again for reporting the shortcomings C++ Insights currently has. A fix is on its way.

[2018-09-30 07:49] andreasfertig commented on #66
Hello preejackie,

it could be that I came across your problem and if I'm correct others did as well. See this thread:
https://www.mail-archive.com/search?l=kde-bugs-dist@kde.org&q=subject:%22%5C%5Bclazy%5C%5D%2B%5C%5BBug%2B392223%5C%5D%2Bsegmentation%2Bfault%22&o=newest&f=1

And here is one answers which seems to solve it:
https://www.mail-archive.com/kde-bugs-dist@kde.org/msg224146.html

There i

[2018-09-30 07:51] andreasfertig commented on #56
Hello preejackie,

I believe in the meantime you managed building C++ Insights.

[2018-09-30 07:51] #56 closed

[2018-09-30 08:12] #81 closed

[2018-10-16 17:11] VictorQRS commented on #36
Hi,

I know that this issue is closed, but I was intending to open a new one about compiler flags, so this place seems appropriate to start a discussion before creating a new issue.

As you said, allowing the user to add compiler flags seems irrelevant, except the stardard. But, I do believe that there is another flag that changes radically how the compiler "sees" the code: the optimization flags.

[2018-10-16 17:31] andreasfertig commented on #36
Hello Victor,

thanks for bringing this up. I just checked and it makes no difference whether it is -O0 or -O3. I believe that optimization kicks in after the AST was generated. It could be that there are some really cheap optimization which are hard to ignore than to just do, but other than that I think it will not show up in C++ Insights.
You can test it yourself by downloading the pre-compiled

[2018-10-16 17:37] andreasfertig commented on #36
And of course, I would accept and appreciate a patch to add selecting either the optimization level and or the Standard.

[2018-10-23 15:02] Amomum commented on #5
What about recursive templates?

[code]

[2018-11-12 12:48] nitnelave opened #91 "Folding expressions missing parenthesis"
When expanding folding expressions, the generated code doesn't have parenthesis even though they are needed for some (most?) operators.

In the example, the expression is interpreted as `(0 - (0 - 5))` which is `5`, but written on the right as `0 - 0 - 5` which is `-5`.

See https://cppinsights.io/lnk?code=dGVtcGxhdGU8aW50Li4uIEludHM+CmNvbnN0ZXhwciBpbnQgZm9sZF9taW51c19pbXBsKCkgewogICAgcmV0dXJuIChJ

[2018-11-13 04:18] Trass3r opened #92 "coroutines TS"
Would be useful to see the implemented state machine if that's possible.
https://godbolt.org/z/q6rOaN

[2018-11-13 06:34] andreasfertig commented on #91
Hello nitnelave,

thanks for reporting this, quite interesting. I briefly looked into it and in the AST at this point there are no parentheses. I need to look deeper into it to figure out what I can do.

[2018-11-13 06:35] andreasfertig commented on #92
Hello Trass3r,

I agree. Funny thing, just yesterday I thought about this. I will have a look and see what I can do here.

[2018-11-14 18:09] #62 closed

[2018-11-30 03:01] Trass3r opened #96 "in-tree build not working"
for example version.h is not generated

[2018-11-30 19:40] andreasfertig commented on #96
Hello Trass3r,

I'm sorry. I use the out-of-tree build and a in-tree build takes to long for TravisCI so it is easy to break. I will have a look into it as soon as I find time. I already started looking into coroutines.

[2018-12-01 02:18] Trass3r commented on #92
A bit like https://youtu.be/ZTqHjjm86Bw?t=27m11s

[2018-12-01 15:58] #96 closed

[2018-12-28 21:39] rollbear opened #101 "Crash with stack trace on hairy TMP"
Sorry for not being able to reduce [this](https://cppinsights.io/lnk?code=I2luY2x1ZGUgPHV0aWxpdHk+CiNpbmNsdWRlIDx0eXBlX3RyYWl0cz4KCnRlbXBsYXRlIDx0eXBlbmFtZSBULCBUIHY+CnN0cnVjdCB0eXBlZF9jb25zdGFudAp7CiAgdXNpbmcgdHlwZSA9IFQ7CiAgc3RhdGljIGNvbnN0ZXhwciBUIHZhbHVle3Z9OwogIGNvbnN0ZXhwciBvcGVyYXRvciB0eXBlKCkgY29uc3QgeyByZXR1cm4gdjt9Cn07Cgp0ZW1wbGF0ZTxhdXRvIFY+CnVzaW5nIGNvbnN0YW50ID0gdHlwZWRfY29uc3RhbnQ8c3

[2018-12-29 03:08] edwdmkrv opened #102 "class/fun templates + decltype/decltype(auto) + one screen program = CRASH"
This [example](https://cppinsights.io/lnk?code=I2luY2x1ZGUgPGZ1bmN0aW9uYWw+CiNpbmNsdWRlIDxpb3N0cmVhbT4KI2luY2x1ZGUgPHN0cmluZz4KI2luY2x1ZGUgPGNhc3NlcnQ+CiNpbmNsdWRlIDx0eXBlaW5mbz4KI2luY2x1ZGUgPHR5cGVpbmRleD4KI2luY2x1ZGUgPHR5cGVfdHJhaXRzPgoKCgovLyA9PT09PT09PT09PT09PT09PT09PSAgQ29weSBwYXN0ZSB0aGlzID09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09P

[2018-12-29 15:34] #102 closed

[2018-12-29 20:32] singhkapil2905 opened #104 "Not able to execute below code."
Not able to run the code mentioned in PS on c++ insights.
Get the following error :
---------------------------------------------------------------------------------------------------------------------------------------
Internal Server Error
The server encountered an internal error or misconfiguration and was unable to complete your request.

Please contact the server administrator at webmaster@cp

[2018-12-31 08:50] andreasfertig commented on #104
Hello,

in fact there are several limits for the web-frontend. The local version should be fine. However, as the includes did not make it into the post above I cannot confirm this.

I will also check which of the limits applies and if I can relax them. A second step is document them and maybe give a better error message.

[2018-12-31 08:52] andreasfertig commented on #66
I'm closing this due to inactivity.

[2018-12-31 08:52] #66 closed

[2019-01-09 08:06] languagelawyer opened #106 "Dimensions swapped in new expression with multidimension array"
For the code
[code]
cppinsight swaps the dimensions
[code]

[2019-01-09 08:13] languagelawyer commented on #44
Not exactly since C++14.
https://timsong-cpp.github.io/cppwp/n4140/expr.sub : "except that in the case of an array operand, the result is an lvalue if that operand is an lvalue and an xvalue otherwise."

[code]

[2019-01-09 18:52] andreasfertig commented on #106
Hi @languagelawyer,

thanks for the finding. I need to add tests which check the result. Fix is on its way.

[2019-01-09 19:48] #106 closed

[2019-01-10 10:15] languagelawyer opened #108 "Insight is screwed for top-level variables with type placeholder and an array new expression initializers"
[code]
produces
[code]
The same happens for the `decltype(auto)` placeholder.
For multidimensional arrays, each index gets screwed, e.g. `[2][3]` becomes `[22[33`. Also note the additional newline added after every such declaration.

There is no problem with non-array new expressions and for array new expression when variable type is not deduced.

[2019-01-10 18:02] andreasfertig commented on #108
Hello @languagelawyer,

thanks again for spotting that. Two different AST matchers did match and rewrite the same statement. The result is indeed a bit funny. Fix is on its way.

[2019-01-10 18:09] andreasfertig commented on #44
@languagelawyer  thanks for pointing that out. I'm unaware of that change.

While reading my former response I think I should apologize for my bad English. Let me try again.
I did a quick test whether the requested transformation is easy to implement, which at the first glance is the case. But a bigger amount of tests does not compile with that change. Apart from that, C++ Insights does not have o

[2019-01-29 16:43] kheaactua opened #112 "usingShadow unsued variable"
I receive this error when building off master ( e8965f7 )

[code]

To get around it I delete the variable declaration.

[code]

I get this on 16.04 and 18.04

[2019-01-29 17:03] kheaactua opened #113 "Missing includes stddef.h"
Having trouble running CPP Insights on 18.04 with gcc 7.3

I run `insights main.cpp -- -std=c++14 $(python2 /tmp/cppinsights/scripts/getinclude.py)` from inside my source directory, that evaluates to:

[code]

Which fails with:
[code]

I received similar errors on a 16.04 box where I was using gcc 7 via update-alternatives, which is why I moved to an 18.04 box, but still have the same problems.

I

[2019-01-29 20:36] andreasfertig commented on #112
Hello @kheaactua,

thanks for reporting that. I'm not sure how this got pass the build. A fix is on it's way.

Andreas

[2019-01-29 20:39] andreasfertig commented on #113
Hello @kheaactua,

I assume you have a local build. In that case `getinclude.py` is not necessary. It is a hack anyway just to use it on a different machine.
Have you tried invoking insights just with `-std=c++14`?

[2019-01-29 21:38] kheaactua commented on #113
Yeah, that was what I first tried, but I get the same error followed by a crash

[code]

I have a core file, but I didn't build insight with debug symbols.  Should I?  Or is this a known issue?  (I didn't find it in Issues, just thought I'd ask first though)

Thanks

[2019-01-29 21:44] andreasfertig commented on #113
It's a new issue.

How did you build insights? I've seen similar trouble when it was a mixture of libc++ and gcc.

[2019-01-29 21:46] #112 closed

[2019-01-29 21:54] kheaactua commented on #113
Copied and pasted the instructions from the readme (`git clone`, `cmake`, `ninja`)

[code]

The clang stuff it's using should be from clang 7.0.1 (I install clang, then download the newer binaries, then use `update-alternatives` to use the newer clang), maybe that somehow messed things up?

[2019-01-29 22:14] andreasfertig commented on #113
Strange. Except for the compiler version it looks very much like the travis docker I use to build and run the web-frontend. The clang/llvm libs are fine.
Can you either try the docker from `docker_travis`? Just to see, if that is working? The other option is to build with debug symbols. But that's difficult as you need the clang/llvm libs with debug symbols as well.
Sorry for the trouble, the idea

[2019-01-31 13:23] Kurkin opened #116 "Missed const qualifier in structured binding"
[code]

[code]

[2019-02-01 10:45] andreasfertig commented on #116
Hello @Kurkin,

thanks for reporting that. That is quite a finding. Hard to spot. Thanks! A fix is on its way.

Andreas

[2019-02-01 11:20] #116 closed

[2019-02-01 12:19] Kurkin commented on #116
Thanks for a quick fix and your awesome tool!

[2019-02-06 13:14] Lectem opened #119 "`static` local variables : show the initialization checks"
When `static` is used in a function, initialization of the variable will only happen on the first time the block scoped is reached. Since c++11, this is even thread_safe.

I suggest transforming the following code:
[code]
to the following for C++11 onward
[code]

Note the comment is adapted from Apple Clang : www.opensource.apple.com/source/libcppabi/libcppabi-14/src/cxa_guard.cxx

I think in this

[2019-02-06 21:31] andreasfertig commented on #119
Hello @Lectem,

I'm so glad that someone is requesting that. Thanks also for the link. Just on Monday I gave a talk at CppOnSea in which I showed the internals of static but couldn't answer whether it uses double checking. This link helps to prove my point. As far as I remember it is true for gcc as well.

Now, to your proposal. I like the alignas because I got that wrong. However, try this  [modi

[2019-02-07 01:40] Lectem commented on #119
I'm happy to have reported this then, static initialization is something a lot of people don't know/realize !

That's a common mistake with placement new !
I think it is great you already have placement new generation, so what's left is mainly just handle multithreading/exceptions handling + add the `alignas` and `<new>`.
I suggested simply adding a comment because I wasn't sure if placement new w

[2019-02-08 08:36] andreasfertig commented on #119
That’s great! Thank you for that research. I started the first draft yesterday. Just for future reference, the interesting part is [here](
https://github.com/andreasfertig/cppinsights/blob/72fd4d53b3f19e74aee8e9ecd78d0d823ea40484/CodeGenerator.cpp#L2237)

While on that topic, I looked into the tests of clang and came across [this](https://github.com/llvm-mirror/clang/blob/8f84def996304cd8aca061502

[2019-02-08 22:41] Lectem commented on #119
Oh right, basically anything that can have a side effect. I think the only reason integers and other trivial types do not have the check is that with default initialization it falls under the "as-if rule" and the compilers are allowed optimize it away and do nothing.

[2019-02-11 07:15] GPopov opened #120 "Object creation is erroneously explained with a copy construction"
Creating an object of some class is explained as if a copy construction is performed, which is not the case for standard-compliant compilers.

Example:

[code]

The line (1) is transformed into:
`A a = A();`

This is wrong, as it would invoke the deleted copy ctor of A. Proof: https://godbolt.org/z/wct9r5

[2019-02-13 22:04] andreasfertig commented on #120
Hello @GPopov,

thank you for reporting that finding. How would you like the default ctor to be visualized?

Andreas

[2019-02-15 11:22] GPopov commented on #120
This is an interesting and difficult question. If there was a obviously really more expressive way, most probably the C++ committee would have opted for it already. A very suboptimal soultion would be as a comment, detailing all the relevant c-tors and special member functions that get invoked.
Something along the lines of
[code]

transformed into
[code]

This solution has multiple problems with i

[2019-02-16 12:11] andreasfertig commented on #104
Hello @singhkapil2905,

I pushed some updates in the meantime and migrated to a new server. It looks to me as the problem is fixed. However, there is still a length limit plus it exceeds the amount of data which can be in a link.

Feel free to reopen, if you have a different experience.

[2019-02-16 12:11] #104 closed

[2019-02-16 17:09] singhkapil2905 commented on #104
Thanks @andreasfertig ,
Issue is resolved.

[2019-02-18 21:35] bstaletic commented on #113
This error can happen if clang can't find its resource directory, which can be specified with `-resource-dir=/path/to/resource/dir` and the default (which is relative to `libclang.so`) can be discovered with `clang -print-resource-dir`.

[2019-02-20 17:45] matkatmusic opened #123 "unexpected behavior when explicitly instantiating a template"
I'm not sure what the expected behavior is, but this snippet shows no template instantiation code being generated:

[code]
If you comment out the `template struct Person<int>;` it generates the expected template code.
Any ideas on why this happens?

I was expecting to this:
[code]

[2019-02-20 20:29] andreasfertig commented on #123
Hello @matkatmusic,

you are totally right. I have trouble with the AST matchers. A quick fix broke existing tests. I need to take a closer look and how to handle this.

Andreas

[2019-02-21 14:38] languagelawyer opened #124 "Incorrect type of a function returning a rvalue reference to a function or array"
This is similar to #74

[code]
is transformed to
[code]
And
[code]
into
[code]

[2019-02-21 19:23] andreasfertig commented on #124
Hello @languagelawyer,

thanks for spotting that. A fix is on its way.

[2019-02-21 20:06] #124 closed

[2019-02-21 20:15] andreasfertig commented on #123
All right, I understood it. In the progress I found a second issue. Thanks for reporting the bug!

[2019-02-21 20:41] #123 closed

[2019-02-21 20:47] matkatmusic commented on #123
This UB still exists.  This issue should remain open until cppinsights displays the correct result.

https://cppinsights.io/lnk?code=dGVtcGxhdGU8dHlwZW5hbWUgVD4Kc3RydWN0IFBlcnNvbgp7CglpbnQgYWdlLCBoZWlnaHRJbkluY2hlczsKCVQgZGlzdGFuY2VUcmF2ZWxlZCA9IFQoKTsgLy9kZWZhdWx0IHZhbHVlCglmbG9hdCBoYWlyTGVuZ3RoLCBHUEE7Cgl1bnNpZ25lZCBpbnQgU0FUU2NvcmU7CgoJVCBydW4oVCBzcGVlZCwgYm9vbCBzdGFydFdpdGhMZWZ0Rm9vdCk7Cn07Cgp

[2019-02-21 21:00] andreasfertig commented on #113
Hello @bstaletic,

interesting. I never heard of that before. @kheaactua I hope this helps.

[2019-02-21 21:03] andreasfertig commented on #120
Yes it is indeed difficult. I agree that nothing incorrect should be produced. On the other hand, without a proper alternative I feel reluctant to just remove it. I like to think more about it.

[2019-02-21 21:18] andreasfertig commented on #123
Hello @matkatmusic,

can you be more specific? For what I see the output matches what you expect according to your initial post (and what I agree that it is correct). Maybe you checked to soon? After it appears as closed here it takes some time to do the build and upload it to the server.

[2019-02-21 21:31] languagelawyer opened #127 "Generic lambdas are not supported"
`auto f = [](auto) {};` is transformed into
[code]
No templated `operator()` or anything at all. https://godbolt.org/z/MHGiCl

[2019-02-21 21:41] andreasfertig commented on #127
Hello @languagelawyer,

it depends a bit on what you are expecting. A slight change does show the operator:

[code]

In my case it is instantiated. Is your request about showing the templated declaration?

[2019-02-21 21:43] languagelawyer commented on #127
Yes.

[2019-02-21 22:04] matkatmusic commented on #123
My fault, it is working as expected.  I must have checked too soon after you fixed it.

[2019-02-22 12:35] knatten opened #128 "Ellipsis missing from template instatiation"
The instantiation from this code:
[code]

Looks like this:
[code]

I think the signature should rather be `void foo<int>(int, ...)`.

Try it on [CppInsights.io](https://cppinsights.io/lnk?code=dGVtcGxhdGU8dHlwZW5hbWUgVD4Kdm9pZCBmb28oVCwgLi4uKSB7fQoKaW50IG1haW4oKXsKICAgZm9vKDEsIDIuKTsKfQ==&std=cpp17&rev=1.0)

[2019-02-22 19:51] andreasfertig commented on #128
Hello @knatten,

thanks for reporting that. It is indeed incorrect. A fix is on its way.

Andreas

[2019-02-22 20:00] andreasfertig commented on #127
I thought so. Currently, C++ Insights leaves templates declarations untouched. That's why it does not generated the template declaration in this case. I'm working on that, but it will take time.

[2019-02-22 20:18] #128 closed

[2019-02-26 08:11] knatten commented on #128
That was quick! <3

[2019-03-01 16:28] shebdim opened #131 "Structure binding a tuple-like type"
[code]

transform into invalid syntax

[code]

[2019-03-01 20:27] andreasfertig commented on #131
Hello @shebdim,

thanks for reporting that! You found a special case with the function call and the global decomposition. A fix is on its way.

Andreas

[2019-03-01 21:19] #131 closed

[2019-03-07 10:00] simonrenger commented on #45
Conceptual idea:
Maybe add an extra mode in there like in a way that the user can choose between how deep cppinsight shall go/ transform

[2019-03-07 10:04] simonrenger opened #133 "the generated URLs are to long in web version (for convenience)"
Hello,

the domains which the tool generates are way too long. Is there the plan to change it like on compiler explorer does it?

comparison:
[code]
vs
[code]

[2019-03-08 06:36] andreasfertig commented on #133
Hello @simonrenger,

yes there is a plan for that. See [patreon](https://www.patreon.com/posts/happy-new-year-23819519).
But it will take some time. Especially because I do not like to store confidential content. The idea is to create something like an open database. You can great short links, but everybody can browse that database and see them. It also fits into the teaching concept of C++ Insigh

[2019-03-08 06:37] andreasfertig commented on #45
Hello @simonrenger,

extra mode like a command line option: -use-while-loops?

Andreas

[2019-03-09 00:42] simonrenger commented on #45
@andreasfertig  yes in that way and on the website than just a drop down menu or checkbox(s). I am sure there are other things than just while loops

[2019-03-10 04:41] matkatmusic commented on #133
Could you do something like pastebin, how recent links are public unless you make them private?   the ability to delete your snippets could require a paid membership, maybe...

it's been done on a bunch of sites, maybe see how they do it.  Wandbox's implementation is open-source.  their shared URLs are pretty short.  https://github.com/melpon/wandbox

[2019-03-13 15:45] danra opened #134 "redundant(?) double static_cast"
The following:
`int a = (int)1.0;`

translates into
`int a = static_cast<int>(static_cast<int>(1.0));`

See https://cppinsights.io/lnk?code=aW50IG1haW4oKQp7CiAgCWludCBhID0gKGludCkxLjA7Cn0=&std=cpp17&rev=1.0

AFAICS there is a redundant `static_cast<int>` here - unless this is what the compiler actually does internally (for some reason?)

[2019-03-13 16:58] andreasfertig commented on #134
Hello @danra,

I believe what C++ Insights shows is correct. Have a look here: [https://godbolt.org/z/FC_pXU](https://godbolt.org/z/FC_pXU). It shows the AST output of your example and a second version with the C-Style-Cast. In C++ Insights the second version leads to only one `static_cast`. I assume the compiler does optimize this away in a later stage.

Andreas

[2019-03-13 18:02] #134 closed

[2019-03-14 18:13] #119 closed

[2019-03-14 18:34] andreasfertig commented on #119
Hello @Lectem,

please have a look on what I just pushed. It is the best I can do so far. Feel free to reopen, in case you have additions or see bugs.

Andreas

[2019-03-14 19:27] andreasfertig commented on #91
Hello @nitnelave,

it looks like I finally understood it. I believe that this is a special case with fold expression. Their pattern is specified in the standard [[temp.variadic] p10.1 - p10.2](http://eel.is/c++draft/temp.variadic#10.3). Hence it does not require parentheses. A patch is on its way to add them in case of `+` or `-`.

[2019-03-14 19:54] #91 closed

[2019-03-16 16:54] Lectem commented on #119
Hi!
(I'll be assuming this is already available on the website for my test, but I'm not sure if it's the case or not).

This looks good but I think the static storage and guard should be put to the global scope if possible.

There is also an issue with initializing integers with side effects like this:

[code]

which should trigger the initialization checks.
I think that to solve all cases, we nee

[2019-03-19 08:57] leni536 opened #143 "missed template instantiation"
Cppinsights.io doesn't show the template instantiation for ```max``` in the following code:

[code]

Note: it would be nice if the website showed version info or commit hash that I could include into the bug report.

[2019-03-20 19:45] siedentop opened #144 "Feature request: Generate insights for std::accumulate"
Thank you for this very cool tool! Would it be possible to generate insights for `std::accumulate`?

Suggested label: Enhancement.

Code:
[code]

Link: https://cppinsights.io/lnk?code=I2luY2x1ZGUgPGNzdGRpbz4KI2luY2x1ZGUgPG51bWVyaWM+CiNpbmNsdWRlIDxhcnJheT4KCmludCBtYWluKCkKewogICAgc3RkOjphcnJheTx1aW50OF90LCA1PiBhcnJ7Miw0LDYsOCwxMH07CgogICBpbnQgeCA9IHN0ZDo6YWNjdW11bGF0ZShhcnIuYmVnaW4oKSwgYXJyLmVuZCgp

[2019-03-21 17:42] andreasfertig commented on #119
Hello @Lectem,

correct it is already life.

I don't understand. Can you share an example and a reason?

True. As well as sometimes with exceptions. As far as I can see this all happens during code generation in Clang. A while after AST generation. Currently, I don't know a way to get the same result at the AST (front-end) stage. For that reason, I will not spend time on it in the near future. It

[2019-03-21 17:48] andreasfertig commented on #143
Hello @leni536,

thank you for reporting that. It is an interesting case. Have a look at [Compiler Explorer](https://godbolt.org/z/_3Nm2s) and the AST output:

[code]

The template instantiation C++ Insights see is the one above. Now, it has no body in the AST! There is a check in the code to skip such functions. Normally, this is the case for functions which are unused.

I haven't figured out why

[2019-03-21 17:50] andreasfertig commented on #144
Hello @siedentop,

thank you, my pleasure!

I'm not sure I understand what you are asking for. Do you want to see the result? The possible loop inside accumulate? In all cases, if it is not in the AST it will be hard to show it.

Andreas

[2019-03-24 10:51] andreasfertig commented on #45
Hello @simonrenger, @pepsiman,

ok that is what I have in mind. I will push a patch to introduce this functionality in C++ Insights. There will be options to C++ Insights `-alt-syntax-for` and one for #44. However, it will take some additional time to prepare the website with a drop down menu with checkbox(s). As web-dev is not my strong suite, contributions for the drop down checkbox menu are wel

[2019-03-24 11:00] andreasfertig commented on #143
Hello @leni536,

today I pushed a new version of C++ Insights and the website. You can now look up what version of C++ Insights is running at [cppinsights.io](https://cppinsights.io): [https://cppinsights.io/version](https://cppinsights.io/version).

[2019-03-24 11:31] andreasfertig commented on #143
Hello @leni536,

I also understood your initial issue. With including, I assume, `string` the code also drags in the `algorithm`header. This header contains already a `max` function-template: [https://en.cppreference.com/w/cpp/algorithm/max](https://en.cppreference.com/w/cpp/algorithm/max). I looks like the one provided in your code was not picked up by overload resolution. With that C++ Insights

[2019-03-24 11:31] #143 closed

[2019-03-24 11:32] #45 closed

[2019-03-24 11:38] andreasfertig commented on #44
Hello @pepsiman,

a patch for this issue is on its way. For more details please refer to #45.

[2019-03-24 12:41] #44 closed

[2019-03-24 15:38] leni536 commented on #143
Oh, damn ADL, nice catch :). It showcases an opportunity to somehow show what function gets called  at each call site (with fully qualified name and arguments), maybe in a tooltip when hovered over function (otherwise it would quickly become unreadable).

[2019-03-25 18:38] andreasfertig commented on #101
Sorry, I'm testing stale bot and it does exactly the opposite of what I want. This issue will remain open.

[2019-03-25 18:39] andreasfertig commented on #92
Sorry, I'm testing stale bot and it does exactly the opposite of what I want. This issue will remain open.

[2019-03-26 12:10] BenFrantzDale opened #156 "Make lifetime extension explicit"
Thanks for creating such a cool tool!

It would be great if lifetime extension were made explicit. That is, the GOTW#88 `const&` behavior: https://herbsutter.com/2008/01/01/gotw-88-a-candidate-for-the-most-important-const/

as in
[code]

Right now the above produces
[code]
which is correct, but the insight I'd like to see would show that after the `return`, `c` is destroyed with `D::~D()`.

I'm no

[2019-03-26 12:14] BenFrantzDale opened #157 "Provide optimization flag?"
This may not be feasible, but it would be very interesting if the `-O` flag were available so that, as in godbolt, we could see the effect of optimization on things like loop unrolling and inlining.

[2019-03-26 21:34] andreasfertig commented on #156
Hello @BenFrantzDale,

thank you, my pleasure.
I totally agree, it would be great. However, have a look at this [discussion](http://clang-developers.42468.n3.nabble.com/how-to-see-implicit-calls-in-AST-td4034469.html) on the Clang developers list. Object lifetime is not modeled in the AST.
I haven't looked into how the static analyzer does it as the comment also suggests. I will do that as soon as

[2019-03-26 21:39] andreasfertig commented on #157
Hello @BenFrantzDale,

unfortunately it is not how it works. Have a look at this code in [godbolt](https://godbolt.org/z/ldDNIT). It shows the same code with the same compiler version with `-O0` and `-O3`. As you can see in the assembly output the optimization in fact changes the resulting assembly output. However, the AST remains the same. The AST is from the front-end stage, before `-O` flags ki

[2019-03-30 09:15] simonrenger commented on #133
@andreasfertig if you need help with creating something like this I could help :) especially what @matkatmusic  suggested.

[2019-03-31 09:25] andreasfertig commented on #133
Hello @simonrenger,

thank you, that would be great!

What I have in mind so far is to store the links in a sqlite database. As the primary intend of C++ Insights is teaching and others can learn from your code snippets, all links should be publicly available. The idea is to provide a dedicated page which lists all the short-links. Only the full links are private. Maybe store a "used" flag to chec

[2019-04-02 08:44] stullemitbrot opened #158 "artifacts }; remain for N3922 declarations"
declaration + definition
`auto x  { 27 };`
yields
[code]
which is obviously wrong.

[2019-04-02 17:04] siedentop commented on #144
Hi Andreas,

I would assume that std::accumulate get's unpacked to a simple loop. Doesn't it?

My assumption was that it gets transformed in the same way a range-for loop get's changed to a simple (old-style) loop.

[code]

Maybe my assumption about what the compiler does is wrong and std::accumulate never gets "inlined" to become part of the AST of this translation unit? If so, then please close

[2019-04-02 18:25] andreasfertig commented on #158
Hello @stullemitbrot,

thanks for reporting that. I'll have a look at it. Looks like the extracted range is incomplete.

Andreas

[2019-04-02 18:27] andreasfertig commented on #144
Hello @siedentop,

possibly it gets transformed. However, this is an optimization detail and as far as I know and can see not part of the AST. Hence, I close this issue. Thank you!

[2019-04-02 18:27] #144 closed

[2019-04-03 07:30] stullemitbrot commented on #158
Hallo Andreas,

sounds plausible :)
Nevertheless great work, Thanx!

Reinhard

[2019-04-04 07:08] #158 closed

[2019-04-05 09:45] hrjonashansen opened #161 "Boby of one-liner ranged-based for discarded"
The following snippet creates a c-style array and prints the elements one by one. However, the printing part is not included in the output of cppinsights.io.

Snippet:

    #include <iostream>

    int main(int argc, char** argv)
    {
        char arr[10]{2,4,6,8};
        for (auto i : arr)
            std::cout << i << " ";
    }

Output:

    #include <iostream>

    int main(int argc, char **

[2019-04-05 16:42] andreasfertig commented on #161
Hello @hrjonashansen,

thanks for reporting that! Indeed that statement got lost in the process. A fix is on its way.

Andreas

[2019-04-05 17:01] #161 closed

[2019-04-09 02:54] kobi-ca opened #176 "template lambda not compiling"
Shouldn't this work with 17 or 2a?
[code]

[2019-04-09 02:54] kobi-ca commented on #176
getting
[code]

[2019-04-09 14:10] chuggafan opened #177 "Add the ability to use windows headers for insights"
While yes I know the rules about windows headers and open source projects, being able to see insights for windows headers on certain things would be a great way to see how clang treats them and get a deeper understanding of how they're processed (since the headers are so different)

[2019-04-09 18:25] andreasfertig commented on #176
Hello @kobi-ca,

you are trying to use [P0428R2](https://wg21.link/P0428) which is a 2a feature. However, it is not implemented in Clang yet (see also [cppreference.com](https://en.cppreference.com/w/cpp/compiler_support)).
I'm already watching the progress, but even if it gets implemented in Clang it will take to the next major release to be available in C++ Insights.
I leave that issue open unti

[2019-04-09 18:26] andreasfertig commented on #177
Hello @chuggafan,

that is an interesting request. Any suggestion how to achieve it?

Andreas

[2019-04-09 18:30] kobi-ca commented on #176
got it. thanks for the clarification.

[2019-04-09 22:25] chuggafan commented on #177
The main (and easiest way) would probably be running this project on windows, a different method would depend on how much clang supports compiling for windows on linux. The way to do this would essentially be take all the headers from Visual C++ Build Tools, copying them to a directory, and then compile against that (but not linking). https://visualstudio.microsoft.com/downloads/#build-tools-for-v

[2019-04-11 14:57] pseyfert opened #178 "spell out using declaration"
I was wondering about [this example](https://cppinsights.io/lnk?code=c3RydWN0IFh7CiAgaW50IGYoKTsKICBpbnQgZihpbnQpOwogIGludCBmKGRvdWJsZSk7Cn07CgpzdHJ1Y3QgWTpYIHsKICBpbnQgZihmbG9hdCk7CiAgdXNpbmcgWDo6ZjsKfTsKCmludCBkb3RoaW5ncygpIHsKICBZIHk7CiAgaW50IG9uZSA9IHkuZigzLjEzKTsKICBpbnQgdHdvID0geS5mKDMuMTNmKTsKICByZXR1cm4gb25lK3R3bzsKfQ==&insightsOptions=cpp17&std=cpp17&rev=1.0) (source quoted below).

`Y` h

[2019-04-13 19:06] robert-andrzejuk opened #179 "range-v3 support"
I would reeeaaalllllyyy love to get some insight into what is going in this piece of code:

[code]

But no libraries are supported.

Any suggestions?

[2019-04-14 06:50] andreasfertig commented on #178
Hello @pseyfert,

great idea, I like it. I will look how and when I add it.

Andreas

[2019-04-14 06:54] andreasfertig commented on #179
Hello @robert-andrzejuk,

interesting, are your sure that you like to see it? I can give you a preview:

[code]

You can do this yourself by using the docker project and add the headers there. However, I assume you like to have the support directly in [cppinsights.io](https://cppinsights.io). I'm not entirely sure whether this is a good idea. It takes a significant amount of time to transform this

[2019-04-14 07:17] robert-andrzejuk commented on #179
Thanks!
First I need to learn how to make a docker project ;-)

By setting a max column length of 100 and formatting it, the insight is much better:

[code]

[2019-04-14 08:00] andreasfertig commented on #179
Thanks for the column limit tip. That's great!

Regarding the docker, you can have a look here: [cppinsights-docker](https://github.com/andreasfertig/cppinsights-docker). What you then need to do is add the includes to the `Dockerfile` like this:

[code]

assuming `range-v3` was downloaded and unpacked to the folder where you cloned the cppinsights-docker repo to. With that change after running `m

[2019-04-14 08:46] robert-andrzejuk commented on #179
It's just interesting for me to see the techniques used, such that a simple piece of code - creates all this machinery behind it:
- the way different classes are aggregated(?composed?) together with templates, to create the required end product (which is not just a simple non-templated `ranges::view::zip` class)
- that static objects with the `operator()` are used to "emulate" a function call.

Er

[2019-05-03 16:42] grishavanika commented on #92
Hi. @andreasfertig :)

Is there any progress with this ? Is it possible to contribute ? (nothing to show yet, just asking)

[2019-05-05 08:54] andreasfertig commented on #92
Hello @grishavanika,

thanks for asking. Currently, I'm busy with a larger rewrite to transform even more code and to support generic lambdas. I have a private branch where I made some progress with coroutines. As they are now officially part of C++20 things are a bit easier (no additional option is required to activate them).

Examples of coroutines and how the transformed code looks like would h

[2019-05-05 08:56] Trass3r commented on #92
See https://github.com/andreasfertig/cppinsights/issues/92#issuecomment-443391350

[2019-05-05 09:17] andreasfertig commented on #92
Hello @Trass3r,

I know that, thanks. I just like more data. Plus some things are not 100% clear to me. But, I have to check the branch, its been a while since I made changes to it. I will push it and let you know.

Andreas

[2019-05-05 17:59] languagelawyer opened #181 "Closure object structured binding: data member names are missing"
Let's look a the following code
[code]
it is transformed into
[code]
https://cppinsights.io/lnk?code=aW50IG1haW4oKQp7CglpbnQgeCA9IDEsIHkgPSAyOwoJYXV0byBmID0gWyZdKGF1dG8gc2VsZikgewoJCSh2b2lkKXg7ICh2b2lkKXk7IC8vIG1ha2UgJ2VtIHVzZWQhCgkJYXV0byYgW2EsIGJdID0gKnNlbGY7IC8vIGEgPT0gMSwgYiA9PSAyLiBEZXBlbmRzIG9uIHRoZSBwcmV2aW91cyBsaW5lLgoJCXJldHVybiBiIC0gYTsKCX07CglyZXR1cm4gZigmZik7IC8vIHJldHVybnMgMQp9&insigh

[2019-05-10 12:23] IOBYTE opened #182 "function pointer argument name removed"
This code:
[code]
produces this output:
[code]
The argument name is removed on the first argument `cb`.

[2019-05-10 19:18] #127 closed

[2019-05-11 08:19] andreasfertig commented on #182
Hello @IOBYTE,

thanks for reporting that. It has been fixed with the last commit.

Andreas

[2019-05-11 08:19] #182 closed

[2019-05-13 07:12] afigegoznaet opened #184 "Inheritance from variadic list not expanded well"
#include <string>
#include <unordered_set>

class Customer{
	std::string name;
public:
	Customer(const std::string &n) : name(n){}
	std::string getName()const{return name;}
};

struct CustomerEq{
	bool operator()(const Customer&c0,const Customer&c1)const{
		return c0.getName() == c1.getName();
	}
};

struct CustomerHash{
	std::size_t operator()(const Customer& c) const{
		return std::hash<std::str

[2019-05-13 16:53] andreasfertig commented on #184
Hello @afigegoznaet,

thanks for discovering that! It was wrong for a long time and I didn't realize it. A fix should be available soon.

Andreas

[2019-05-13 17:41] #178 closed

[2019-05-13 17:41] #184 closed

[2019-05-13 20:02] andreasfertig commented on #181
Hello @languagelawyer,

thank you. That is once again an interesting piece of code. I gave it a look and had to scratch my head multiple times to see through it. The sad part is, currently I have no glue how to fix it. I'm willing to choose the "not fixing" card but I will think more about it.

Andreas

[2019-05-13 20:58] languagelawyer commented on #181
Here is a relevant clang bugreport https://bugs.llvm.org/show_bug.cgi?id=41765

[2019-05-14 08:07] mayjs opened #186 "Build fails on Arch Linux"
The build of cppinsights fails on Arch Linux.
The error message is:
[code]
 I've looked around a bit and found that this is somehow related to the `-isystem/usr/include` arguments that is used in the generated build.ninja file. Replacing all the `-isystem` parts with `-I` fixed the issue for me: `sed -i "s/-isystem/-I/g" build.ninja`, but this should be fixed in the CMake files somehow I think.

[2019-05-19 19:15] andreasfertig commented on #92
Hello all,

I just pushed my draft development branch. The entire branch is more or less just to show what new statements are available and tries to format them.

I'm not clear on:
- when and how a coroutine is allocated and how to visualize that.
- how to visualize the suspend and resume

Probably there are more things, but that is what I remember so far. Feel free to contribute.

Andreas

[2019-05-22 19:11] andreasfertig commented on #186
Hello @mayjs,

interesting and thanks for tracing it so far. Can you give more details about the build environment. Was it a out-of-clang build? What did CMake initially print out?

Andreas

[2019-05-23 10:01] bstaletic commented on #186
This is a problem with include path ordering. The order is:

1. `-isystem` paths
2. Implicit system include paths
3. `-I` paths

This combined with the fact that `/usr/include` absolutely has to be the last of the system include paths can cause problems. What happens here is that specifying only `-isystem/usr/include` makes `/usr/include` come before all other implicit system include paths.

[2019-05-23 10:16] bstaletic commented on #186
A few more bits of information:

- Include paths can be examined with `clang++ -E -v`.
- The reason why the order matters is in the line right after what @mayjs posted:

     #include_next <stdlib.h>

With include paths reordered, `#include_next` from `cstdlib` is unable to find anything in `/usr/include`.

[2019-05-30 10:37] #113 closed

[2019-05-31 09:25] jorgbrown opened #188 "Crash with stack trace, trying to get insight about std::tuple"
The real version I wanted the insight on can be seen at https://godbolt.org/z/YUbnZG , which is just https://godbolt.org/z/sZgc7p but with the header sources pulled in.

Anyway, in cppinsights.io, those crash... so I kept reducing them until I got to:

https://godbolt.org/z/keppKm
that is,
https://cppinsights.io/lnk?code=I2luY2x1ZGUgPGJpdHMvYysrY29uZmlnLmg+CiNpbmNsdWRlIDxiaXRzL21vdmUuaD4KCiNpbmNsd

[2019-06-02 15:54] andreasfertig commented on #186
I do tamper a bit with the includes in [CMakeLists.txt](https://github.com/andreasfertig/cppinsights/blob/e9c65fd382a3445b42bc31104b4fa8715b8cc03a/CMakeLists.txt#L120).

I'm not sure what a better solution might be.

[2019-06-02 15:56] andreasfertig commented on #188
Hello @jorgbrown,

thank you for reporting that. And a special thanks for reducing it to the minimum.
This triggers a Clang assertion. I have a fix to prevent it crashing but not to generate valid code. I will look in to it more.

Andreas

[2019-06-02 16:06] bstaletic commented on #186
That line turns user defined include paths (`-I`) into system include paths (`-isystem`) which should be fine unless someone explicitly declared the implicit include paths as `-I`. And even then you'd be fine if *all* implicit paths got "transformed" (for lack of a better word). The problem would appear if only some of implicit include paths got turned explicit with `-isystem`.

[2019-06-07 09:31] matkatmusic opened #189 "non-mutable lambdas don't show members as const"
[code]
the generated lambda doesn't mark the private member in the anonymous body as `const Data d;`, which is should.

[2019-06-07 09:33] matkatmusic commented on #189
It generates this:
[code]
Shouldn't the anonymous lambda be defined like this instead?

[code]

[2019-06-07 17:24] andreasfertig commented on #189
Hello @matkatmusic,

thank you for raising that point.  First of all, I'm not a 100% sure about it myself. Here is my view.

The members don't need to be `const` as a member function can only call other `const` member functions. In addition, it cannot alter data of the class, regardless whether they are `const` or not. That all has nothing to do with lambdas but with classes in general.

Now for l

[2019-06-07 17:40] matkatmusic commented on #189
Capture-by-reference can call non-const member functions.
capture-by-copy can only call const member functions unless you mark the lambda as `mutable`

you didn't share a godbolt link.

I'm going off of what is stated here: https://en.cppreference.com/w/cpp/language/lambda
[code]

Is making an object `const` the only way to block the ability to call non-const member functions?   Or is there some o

[2019-06-07 17:43] matkatmusic commented on #189
Ok, my fault.   The standard says that the `operator()` is const by default:
http://eel.is/c%2B%2Bdraft/expr.prim.lambda.closure#4

[2019-06-07 18:53] andreasfertig commented on #189
True and it can also modify capture by reference variables.

I don't think that is true. Your own example from above calls a `const` member function of `Data` in a non-mutable lambda. Am I missing something here?

I updated my earlier comment with the godbolt link.

Yes, but that is true for all classes not just lambdas.

[2019-06-07 19:25] matkatmusic commented on #189
see my comment about the `operator()` being const.

[2019-06-07 19:26] #189 closed

[2019-06-08 23:33] chuggafan commented on #177
I do believe my previous post went over a pretty good idea on how to do it, another way specifically would be to make docker containers with Visual Studio C++ already installed and then have the customized clang run on that...

[2019-06-10 20:18] andreasfertig commented on #177
Hello @chuggafan,

messing with the headers is in my experience a bad idea. It is already troublesome to switch between Linux version with a pre-compiled C++ Insights binary. Hosting it on Windows it outside of my comfort zone. I've never heard about a Windows Docker container. However, this would require a Windows license for an unknown number of users. Thinking about this a Docker image using wi

[2019-06-11 12:35] chuggafan commented on #177
I can look into testing it with what clang normally does on windows soon enough, I generally dislike working with the clang buildsystem unfortunately. Also unfortunately, I've looked into the windows official docker for servercore: https://hub.docker.com/_/microsoft-windows-servercore the license explicitly states you need to be running windows to run it. It may overall just be better to mess arou

[2019-06-16 19:09] grishavanika opened #190 "Adding build support for Windows"
Hi,

I'm interested to contribute to coroutines code generation discussed there #92.

Since I'm mostly Windows user/dev, I'm happy to have build steps working on Windows.

I have some changes that allow me to run cppinsights on Windows, see [Few hacks and workarounds to build insights (nothing else) on Windows](https://github.com/grishavanika/cppinsights/commit/1bf0ad7e8ad34e6ad316c692cb1ed53bde16

[2019-06-17 06:24] andreasfertig commented on #190
Hello @grishavanika,

excellent! Yes, I'm interested in a Windows version. I would then add a CI build for Windows and look into hosting it. Please prepare a PR. I did not get the reason to rename `Normalize` to `NormalizeP` for example. I guess that VS17 does not support structured bindings? Hence, the change in the `for`-loop?

Andreas

[2019-06-17 07:59] grishavanika commented on #190
Hi @andreasfertig,

There are few moments with this in general.

It does support them. The thing is - I'm actually using Clang version 8.0.0 to build insights (see Readme, "Building on Windows" section, I'm passing `-T LLVM` so CMake uses preinstalled Clang integrated into Visual Studio).
It turns out there is bug in Clang, see [this SO](https://stackoverflow.com/questions/53721714/why-does-struct

[2019-06-17 17:10] andreasfertig commented on #190
Hello @grishavanika,

thank you for the PR, it is in the progress to merge.
I was happy about the fact that you cared even for the readme that I did not read it in specific. From what I quickly researched it looks like either a self-built Clang is required, as you did it, or AppVeyor comes with one. I plan to use them for the Windows CI. I already created an account.

You are right with the `Norma

[2019-06-17 18:08] grishavanika commented on #190
Hi @andreasfertig ,

Thank you for merging.

Just in case, I'm looking into available software for AppVeyor: https://www.appveyor.com/docs/windows-images-software/#llvm and see that while Clang binaries are up to date (8.0.0), it looks like LLVM libraries are relatively old (LLVM 5.0.0).

In case this is not enough or you have issues with setting it up - let me know. I think there is workaround wi

[2019-06-17 18:08] #190 closed

[2019-06-17 19:20] andreasfertig commented on #190
Hello @grishavanika,

I just pushed a new branch `appveyor` where I added a `appveyor.yml`.  Unfortunately, it does not work as I hoped:

[code]

It looks like the libs are missing. I found this project [Building-Zig-on-Windows](https://github.com/ziglang/zig/wiki/Building-Zig-on-Windows) which offers a Windows version with libs. However, I do not like to depend on something like it. A more common

[2019-06-18 03:47] meritozh opened #193 "support expand macro"
Support expanding macro is very useful.

[2019-06-18 06:22] andreasfertig commented on #193
Hello @meritozh,

can you be more specific? For example, the following code gets expanded:

[code]

See [here](https://cppinsights.io/lnk?code=I2RlZmluZSBNWV9NQUNSTyh4KSAoeCoyKQoKaW50IG1haW4oKQp7CiAgcmV0dXJuIE1ZX01BQ1JPKDQpOwp9&insightsOptions=cpp17&std=cpp17&rev=1.0)

Andreas

[2019-06-18 08:16] grishavanika commented on #190
Hey, @andreasfertig.

Specifically in your log libs are missing because you didn't add them (more precisely, `llvm-config.exe`) to the `PATH`. See https://www.appveyor.com/docs/windows-images-software/#llvm. In theory you just do:
[code]

Unfortunately, as you can see, those pre-installed LLVM libs are old (5.0.0).
See one of my logs, for example: https://ci.appveyor.com/project/grishavanika/cppin

[2019-06-18 10:13] meritozh commented on #193
@andreasfertig demo [here](https://cppinsights.io/lnk?code=dGVtcGxhdGUgPHR5cGVuYW1lIFZhbCwgdHlwZW5hbWUgVGFnPgpjbGFzcyBydWxlX3Qge307CgojZGVmaW5lIGNwcGNtYl9wcmVsdWRlX2NhdCh4LCB5KSB4ICMjIHkKCiNkZWZpbmUgY3BwY21iX2NhdCh4LCB5KSBjcHBjbWJfcHJlbHVkZV9jYXQoeCwgeSkKCiNkZWZpbmUgY3BwY21iX3VuaXF1ZV9pZChwcmVmaXgpIGNwcGNtYl9jYXQocHJlZml4LCBfX0xJTkVfXykKCiNkZWZpbmUgY3BwY21iX2RlY2wobmFtZSwgLi4uKSBcCmF1dG8gY29uc3Qgb

[2019-06-18 19:04] andreasfertig commented on #193
Thank you. I will have a look at it.

[2019-06-18 21:33] andreasfertig commented on #190
Hello @grishavanika,

thank you for exploring all this! It matches my research and my fears. I had the same options in mind you already explored. Maybe, we start with trying to use the ziglang binaries to have a CI. I plan to ask on the LLVM mailing list for the reason why the Window binaries do not come with the additional libraries. It looks like we are not the only ones missing them.

Andreas

[2019-06-19 14:37] andreasfertig commented on #193
Hello @meritozh,

I have found the bug. A fix is on its way. Thank you for improving C++ Insights with your feedback. A few other cases in the tests are now also better.

Andreas

[2019-06-19 15:22] #193 closed

[2019-06-20 10:02] #179 closed

[2019-06-21 08:35] andreasfertig commented on #177
Thanks to the work of @grishavanika there is now support for building C++ Insights on Windows. I managed to setup an AppVeyor build yesterday (#196 ). The AppVeyor build uses the kindly provided pre-compiled LLVM/Clang version from [ziglan](https://github.com/ziglang/zig/wiki/Building-Zig-on-Windows). If they stop providing images of newer Clang versions the Windows support will not work any longe

[2019-06-27 02:22] languagelawyer opened #199 "Trailing comma in template-parameter-list when TemplateArgument pack is empty"
For the following code
[code]
[cppinsights produce](https://cppinsights.io/lnk?code=dGVtcGxhdGU8dHlwZW5hbWUgVSwgdHlwZW5hbWUgLi4uVD4Kdm9pZCBmKFUsIFQuLi4gcmVzdCkKewogIGlmIGNvbnN0ZXhwciAoc2l6ZW9mLi4uKHJlc3QpICE9IDApCiAgICBmKHJlc3QuLi4pOwp9CgppbnQgbWFpbigpCnsKICAgIGYoMCwgMSk7Cn0=&insightsOptions=cpp17&std=cpp17&rev=1.0)
[code]
Note the trailing comma in the second instantiation:
[code]
Relevant parts

[2019-06-27 02:48] languagelawyer opened #200 "cppinsights loses `template<>` in explicit function template specializations"
For the following code
[code]
[cppinsights produces](https://cppinsights.io/lnk?code=dGVtcGxhdGU8dHlwZW5hbWUgVSwgdHlwZW5hbWUgLi4uVD4Kdm9pZCBmKFUsIFQuLi4gcmVzdCkKewogIGlmIGNvbnN0ZXhwciAoc2l6ZW9mLi4uKHJlc3QpICE9IDApCiAgICBmKHJlc3QuLi4pOwp9Cgp0ZW1wbGF0ZTw+CnZvaWQgZjxpbnQ+KGludCkge30KCmludCBtYWluKCkKewogICAgZigwLCAxKTsKfQ==&insightsOptions=cpp17&std=cpp17&rev=1.0)
[code]
Note that there is no `templat

[2019-06-27 03:50] languagelawyer opened #201 "volatile qualifier is moved from member function to its return type"
[code]
is translated into
[code]

`const`, `&` and `&&` function qualifiers seem to be handled correctly.

[2019-06-27 16:39] andreasfertig commented on #201
Hello @languagelawyer,

thank you for constantly improving C++ Insights! A fix is on its way.

Andreas

[2019-06-27 18:14] #201 closed

[2019-06-27 18:23] andreasfertig commented on #200
Hello @languagelawyer,

thank you for the detailed analysis! This gave me a good glue where to look.

Andreas

[2019-06-27 18:24] andreasfertig commented on #199
Hello @languagelawyer,

thank you (again) for the good analysis. A fix is already in the air.

Andreas

[2019-06-27 18:47] #199 closed

[2019-06-28 06:14] #200 closed

[2019-06-28 20:07] fadi-botros opened #205 "Crash on https://cppinsights.io when trying code with member variables of type std::function<void()> and assigning it with lambda expression"
This code crashed https://cppinsights.io,  tried C++11, C++14, C++17 and C++2a
[code]

[2019-06-29 07:36] andreasfertig commented on #205
Hello @fadi-botros,

thank you for reporting that. I will look into it. Probably another case of a lambda which I haven't thought about yet.

Andreas

[2019-07-11 02:45] kakaducsy opened #207 "[HELP] problem about endianness"
source:
[code]
Insight:
[code]
my understand that, the output of code above in Little endian machine and Big endian machine  not the same, Is it correct?

[2019-07-11 18:05] andreasfertig commented on #207
Hello @kakaducsy,

if I'm not mistaken, then it depends in the implementation of `printf`.

Andreas

[2019-07-16 18:01] #207 closed

[2019-07-16 18:33] #205 closed

[2019-07-16 20:57] #157 closed

[2019-07-18 08:00] #101 closed

[2019-07-27 09:49] andreasfertig commented on #133
Fix with https://github.com/andreasfertig/cppinsights-web/pull/32

[2019-07-27 09:49] #133 closed

[2019-07-30 09:54] Rb37 opened #217 "Direct initialization of built-in type produce extra ");""
this
`int i(0);`
yields
`int i = 0;
);`
thanks in advance

[2019-07-30 17:19] andreasfertig commented on #217
Hello @Rb37,

thanks for spotting that. A fix is on its way.

Andreas

[2019-07-30 20:00] #217 closed

[2019-08-01 14:12] andreasfertig commented on #5
Hello,

there is now an [examples page](https://cppinsights.io/examples.html). Feel free to open pull request for more examples.

Andreas

[2019-08-01 14:12] #5 closed

[2019-08-02 04:10] jorgbrown commented on #188
"please respond before the issue is closed"

(because it still reproduces.)

[2019-08-02 05:47] andreasfertig commented on #188
Hello @jorgbrown,

sorry, that is the stale bot on the loose. I will not close it. In fact, I already have a fix. I'm just not that happy with it.

Andreas

[2019-08-08 17:09] #186 closed

[2019-08-12 07:52] nishanthkarthik commented on #8
@andreasfertig Can I pick this up?

[2019-08-12 07:57] nishanthkarthik opened #221 "Run insights on client-side with web assembly"
Right now, the run button makes a HTTP call and displays the result on the front-end. In an attempt to reduce the load on the back-end infrastructure, the `insights` executable can be moved to the browser with web assembly, eliminating this round-trip.

[This project](https://github.com/tbfleming/cib) supports running clang in the browser and can be a starting point.

[2019-08-12 08:09] andreasfertig commented on #8
Hello @nishanthkarthik,

that would be great!

Andreas

[2019-08-12 09:44] nishanthkarthik commented on #8
@andreasfertig The [merge view](https://codemirror.net/demo/merge.html) supports what we need. However, both editor instances are tied to a single `div`. Ideally, we should be able to control when we show the diff (say, when we get a response back from the server).

Is this behavior okay?

- When the user inputs code into the left pane for the first time, the diff view is off and the right pane is

[2019-08-12 12:13] #188 closed

[2019-08-13 14:17] andreasfertig commented on #8
Hello @nishanthkarthik,

your approach sounds good to me. Don't worry about the `div`. It is the way it is for no specific reason.

Andreas

[2019-08-18 11:54] nishanthkarthik commented on #8
I'm using `MergeView` to extract out an instance of `CodeMirror`.

[code]

`initMergeView` has to be called each time the code changes, judging from the [sample use here](https://codemirror.net/demo/merge.html). There is no direct member to manually edit the right pane's content. The only way is to reinitialize the `MergeView` every time.

[2019-08-18 15:12] nishanthkarthik commented on #8
The merge view leaves a lot to be desired. It internally uses [diff-match-patch](https://github.com/google/diff-match-patch)

![Screenshot_2019-08-18_20-40-06](https://user-images.githubusercontent.com/7759435/63226544-7fb30680-c1f8-11e9-8934-fffdc64124f2.png)

[2019-08-20 10:52] andreasfertig commented on #8
Hello @nishanthkarthik,

thanks for your work. I think it looks ok.
One question I have is, how does it look in a bigger examples with multiple diffs? Can the colors of each block be defined? A real big example might be
[#101](https://github.com/andreasfertig/cppinsights/blob/master/tests/Issue101.cpp) or [#188](https://github.com/andreasfertig/cppinsights/blob/master/tests/Issue188.cpp). There mi

[2019-08-22 15:10] nishanthkarthik commented on #8
Changing color is purely CSS. I think that should be okay.

I'll try out the large examples and post screenshots here.

I am also gonna try using monaco's diff view without using npm. The diff view will be similar to VS Code.

[2019-09-26 23:58] viboes opened #223 "implicit cast after explicit cast"
Firts of all, thanks for working on this awesone tool.
Hopping I could be able to submit patches in a no so far future

As for https://cppinsights.io/s/b16e6b9b there is an erroneous implicit conversion added after an explicit one.

[code]

after

[code]

[2019-09-27 00:22] viboes opened #224 "Display the special operations generated by the compiler"
It would be great if the tool could show the special operations generated by the compiler as well as the ones requested using default.

[code]

[code]

In addition when the user request the default and the compiler deletes the function as he default generated will be ill formed, the tool could replace =default by =delete.

Before
[code]
https://cppinsights.io/s/cd13011a

After
[code]

P.S. I'm not

[2019-09-27 00:26] viboes opened #225 "Add example for : destructors are implicitly noexcept"
The tool take cre already of implicit noexcept for destructors

https://cppinsights.io/s/f0e3aba8

Wondering if adding an it on the list of features and examples isn't a good idea.

[2019-09-27 00:36] viboes commented on #224
I see that there is something that add comments

https://cppinsights.io/lnk?code=c3RydWN0IEEgCnsKICAvLyB1c2VyIHByb3ZpZGVkIGNvbnN0cnVjdG9yIF9taXNzaW5nXyBpbml0aWFsemF0aW9uIG9mIGBqYAogIEEoKQogIDogaXszfQogIHt9CiAgCiAgaW50IGk7CiAgaW50IGo7Cn07CgpzdHJ1Y3QgQgp7CiAgLy8gdXNlcyB0aGUgZGVmYXVsdCBjb25zdHJ1Y3RvcgogIGludCBpOwogIGludCBqOwp9OwoKaW50IG1haW4oKQp7CiAgQSBhOwogIEEgYTJ7fTsgLy8gb25seSBpIGdldHMgaW5pdGlhbGl

[2019-09-27 00:42] viboes opened #226 "structure binding transformation is not accurate"
The structure binding transformation is not accurate, as the symbols are not real variables, thy are just names.

See the example

https://cppinsights.io/lnk?code=c3RydWN0IFBvaW50CnsKICBpbnQgeDsKICBpbnQgeTsKfTsKClBvaW50IHB0ezEsMn07Ci8vIEhlcmUgd2UgZ2V0IGFuIGFkZGl0aW9uYWwgb2JqZWN0IGluamVjdGVkIHRvIHdoaWNoIGF4IGFuZCBheSByZWZlci4KYXV0byBbYXgsIGF5XSA9IHB0OwoKLy8gSW4gY2FzZSBvZiBhbiByZWZlcmVuY2UgdGhlIGlua

[2019-09-27 00:53] viboes commented on #226
The result of

https://cppinsights.io/s/d9b470ff

could be
[code]

The use of define is stillnot accurate but IMO it conveys better the intent.
Alternatively the transformation could do the name replacement :(

[code]
Alternatively the transformation could add a comment on the variable declaration.

[code]

[2019-09-27 00:55] viboes opened #227 "bitfields transformation miss the bitfield size"
See https://cppinsights.io/s/143e85d0

[2019-09-27 01:08] viboes commented on #224
Oh, I believe I start to understand what the tool is doing thanks to the reading of http://www.modernescpp.com/index.php/c-insights-conversions

The signatures are added only if used and really generated by the compiler.

While this could cover the good uses, it can not cover the bad uses as the code couln't compile.

Wondering of the interest of having the delete independetly of the usage.

[2019-09-27 01:15] viboes commented on #224
And your blog https://www.andreasfertig.blog/2019/03/hello-c-insights.html
BTW, I didn't found those links on the About section.

[2019-09-27 08:47] andreasfertig commented on #223
Hello @viboes,

my pleasure!
Looking forward to patches, they are always welcome.

Thank for reporting this, tt is not the first time that came up (#134). If you look at the [AST](https://godbolt.org/z/gXzhg3) you can see, that there is a `CStyleCastExpr` and as a direct descended `ImplicitCastExpr`. That's why there are two `static_cast`. However, having looked at it one more time, due to your re

[2019-09-27 08:50] andreasfertig commented on #225
Hello @viboes,

I never thought about that. Feel free to submit a patch in the [cppinsights-web](https://github.com/andreasfertig/cppinsights-web/blob/master/app/static/examples.html) repo. There you can add an example you find most compelling.

Andreas

[2019-09-27 09:01] andreasfertig commented on #227
Hello @viboes,

thank you for reporting this. I will prepare a fix.

Andreas

[2019-09-27 09:10] andreasfertig commented on #224
Hello @viboes,

that looks like an documentation issue. You have figured it out right, the special members are only show if they are used. The simple reason for that is, that Clang does not even border to generate them in the AST if they are not used.

This means making up the signature of the special members and by that introducing code that is not there in the first place. The question here is,

[2019-09-27 16:42] #227 closed

[2019-09-28 05:22] viboes commented on #227
Thanks a lot of th equick fix :)

[2019-09-28 05:34] viboes commented on #223
Hi, I believe the fisrt thing could be to have a list of know limitations on the documentation so that we can avoid maybe creating a new github  issue and woud explain what is going on.

I would need to take a look at the AST. I was wondering if this couldn't be an option for the tool  to get alternatively th eAST so that the student makes the relations between the transformation and the AST. I'll

[2019-09-28 05:49] viboes commented on #224
Yes, it is a documenttaion issue that needs clarification.

As for `=delete` I believe this should be quite usefull for people learning C++ and even some more experimented people. We have already some warnings when we add =default and really what is behind the scenes is as if we had `=delete`. I can understand that this could be something difficult to do with clang as it is now or even impossible.

[2019-09-28 05:52] viboes commented on #225
Unfortunately I'll not have access to my developement environment soon, as my PC is completly broken and I don't know yet what to replace it for. I will see if I can make some PR using the github interface at least for what concerns the documentation.

[2019-09-28 05:55] viboes commented on #226
I agree that the macro is not welcome.

I understand that it is not easy to do the name replacement.

If the comment is possible an deasy, I believe all of us could be live with.

[2019-09-28 05:58] viboes opened #230 "Add links to the blogs"
As for Display the special operations generated by the compiler #224 discussion, the documentation will improve if we hadd direct access to the following blogs

https://www.andreasfertig.blog/2019/03/hello-c-insights.html

http://www.modernescpp.com/index.php/c-insights-conversions

[2019-09-28 06:02] viboes opened #231 "Add a section for each transformation with his limitations (special operations)"
As for Display the special operations generated by the compiler #224 discussion, the documentation will improve if we had a section describing the transformation of each featre and his limitations.

In particular for the special operation, to explain that only the operations that are really generated would appear in the transformation. This is due to the fact that the tool s based on the AST.

[2019-09-28 06:06] viboes opened #232 "Replace the use of comments for special operation by =default, =delete declarations"
As for Display the special operations generated by the compiler #224 discussion, it is not clear the use of comments is better than using =default declarations.

Having a =default declaration is not considered as a user defined operation and shouldn't change the behavior.

I could be wrong, and an example would be more than welcome. We learn something new in C++ everyday and you tool will help a l

[2019-09-28 06:12] viboes opened #233 "Add a limitation respect to the enerated =deleted special operations"
As for Display the special operations generated by the compiler #224 discussion, we have identified the tool do not transforms the special operations functions that are deleted by the compiler. This is surely due to the fact that the tool is based on the AST and this information is not still there.

When the user request the default and the compiler deletes the function as he default generated wil

[2019-09-28 06:14] viboes commented on #224
After the creation of these 4 issues, I believe we can close this one

#230  Add links to the blogs
#231 Add a section for each transformation with his limitations (special operations)
#232 Replace the use of comments for special operation by =default, =delete declarations
#233 Add a limitation respect to the enerated =deleted special operations

[2019-09-28 06:14] #224 closed

[2019-09-28 06:37] andreasfertig commented on #223
Hello @viboes,

in the meantime I found out about `isPartOfExplicitCast`. With that I can filter it. A fix is on its way.

However, I agree that a list with known limitation is a good idea. During each release a documentation is generated with doxygen and hosted here [https://docs.cppinsights.io](https://docs.cppinsights.io). My favorite approach would be to add a couple of markdown files in the `

[2019-09-28 07:14] #223 closed

[2019-09-28 22:24] Quuxplusone opened #236 "Virtual inheritance is lost"
As of this writing,

    struct S {};
    class T : virtual S {};

is transformed into

[code]
which loses the "virtual" part of the virtual inheritance.

[2019-09-29 07:24] andreasfertig commented on #236
Hello @Quuxplusone,

thank you for pointing that out. It slipped under my radar. A fix is on its way.

Andreas

[2019-09-29 08:00] #236 closed

[2019-09-29 15:17] hessbe opened #238 "ranged for-loop inside lambda crashes"
this example crashes the conversion:
`void f() {
    auto lambda = [](auto container) {
      for(auto test : container) { }
    };
}`

also with a template instantiation:
`#include <vector>
void f() {
    auto lambda = [](auto container) {
      for(auto test : container) { }
    };

  std::vector<int> vec{1,2,3,4};
  lambda(vec);
}`

`[0x13449ff]
...
[0x4055aa]
Segmentation fault (core dumped)
`

[2019-09-29 21:22] viboes commented on #223
How can I verify that this has been fixed. I was opening again the link and I git the same duplicated output .

[2019-09-29 21:24] viboes commented on #223
For the AST we have clang-check which output the AST, isn't it. The idea was to switch between th etransformation and the AST.

[2019-09-30 07:18] andreasfertig commented on #238
Hello @hessbe,

thank you! Nice finding. Here we have a range-based for-loop in an unevaluated context. Hence, not all the necessary information is present. My fix would be to show the range-based for-loop as it is in this cases. What do you think?

Andreas

[2019-09-30 07:23] andreasfertig commented on #223
Hello @viboes,

the initial link you attached here has "show all implicit casts" enabled. With that it looks like before. Turn it of and you will see the difference and with that the fix. Here is a version with it turned of: [https://cppinsights.io/s/1f7ea4cc](https://cppinsights.io/s/1f7ea4cc).

As this issue is closed, may be open another one for this. I'm not sure I do understand what you have

[2019-09-30 07:41] andreasfertig commented on #238
On a second thought, it is easier to transform it. This is more consistent and requires less special cases. Your initial example would then look like this:

[code]

Andreas

[2019-09-30 11:04] hessbe commented on #238
In my opinion that's good enough as long as the instantiation is correct.

Or how difficult is it to show everything with auto? Like this:
`{
	auto& __range1 = container;
	auto __begin1 = __range1.begin();
	auto __end1 = __range1.end();
	for(; __gnu_cxx::operator!=(__begin1, __end1); __begin1.operator++())
	{
	  auto test = __begin1.operator*();
	  // content of loop
	}
}`

[2019-09-30 13:04] andreasfertig commented on #238
Hello @hessbe,

difficult as at this point it is unknown. It can also be that `std::begin` or `std::end` is called. Same goes for the operators. Plus it requires special treatment.
I prefer to transform what is there.

Andreas

[2019-09-30 13:31] hessbe commented on #238
Hi Andrea,

I'm fully content with your proposed solution. I was preparing some examples for internal training and this crash popped up so I wanted to make sure you know about it. There was also a template instantiation In the example so the full solution would be shown there and that's all I wanted to show the team.

Ben

[2019-09-30 14:15] #230 closed

[2019-09-30 15:31] andreasfertig commented on #238
Hello @hessbe,

excellent, and sorry for the trouble before your training. A fix is on its way.

Andreas

[2019-09-30 17:05] #238 closed

[2019-09-30 17:23] andreasfertig commented on #233
Hello @viboes,

that is a nice finding, thank you. I will push a fix for it.

Andreas

[2019-09-30 20:00] #233 closed

[2019-10-01 05:38] anippuleti opened #244 "Unable to open cppinsights on some networks"
While trying to open cppinsights at my work, it fails with error message "Secure Connection Failed". Attached snapshot observed on Mozilla "Firefox web browser". Similar issue also happens with Google Chrome.

It would be great if this issue is fixed. Thank you..

![SnipImage](https://user-images.githubusercontent.com/11009843/65936844-d81e1c00-e3d2-11e9-978e-e1167cecf04b.JPG)

[2019-10-01 05:51] andreasfertig commented on #244
Hello @anippuleti,

can you try again? It works for me.

Andreas

[2019-10-01 06:22] anippuleti commented on #244
Hi Andreasfertig/Cppinsights,

I still see the issue in Mozilla but able to fix the issue on google
Chrome. I had to click on "Run Diagnostic networks" option when google
chrome was not able to open webpage. Still the issue on Firefox lingers. It
fine for since i am now able to open on google chrome?

You can either close the issue or let me know if any specific information
is needed from my side

[2019-10-01 06:35] andreasfertig commented on #244
Hello @anippuleti,

that's weired. I'm glad that it works for you on Chrome now. However, it should work in all browsers and as far as I know it does. Can it be some company network filtering? In which region are you?

Andreas

[2019-10-01 15:44] andreasfertig commented on #92
Hello,

I wrote up a blog post about implementing coroutines in C++ Insights. There are quite some bummers. You can find it here [andreasfertig.blog/2019/09/coroutines-in-c-insights.html](http://bit.ly/2mAd5FI). In addition to decide what to do I set up a Twitter poll you can [take](https://twitter.com/Andreas__Fertig/status/1178940510569996288?s=20).

Andreas

[2019-10-01 18:23] viboes commented on #233
Thanks a lot. This is super useful for people that are learning.

BTW, there was an error on my description.
The copy constructor is ok, but the copy assignment ends by being deleted.

[2019-10-01 18:37] viboes commented on #223
Ok, I missed the flag.

[2019-10-01 18:38] viboes commented on #230
Thanks for all

[2019-10-01 19:03] viboes commented on #232
I don't know why this has changed since C++17 to C++20, but in C++17 an agrregate made the distiction between user declared and provided.

C++17
         no user-provided, inherited, or explicit constructors (explicitly defaulted or deleted constructors are allowed)

C++20
         no user-declared or inherited constructors

IMO, there is an CWG issue, as we moved since C++03 to C++17 to allow eve

[2019-10-01 19:27] viboes commented on #232
I've found the paper that did the change
http://open-std.org/JTC1/SC22/WG21/docs/papers/2018/p1008r0.pdf
But, i've not found why

struct X {
  X() = default;
};

couldn't be an aggregate.

The wording is wrong IMNSHO.

All the reported cases had a condition by which aggregate initialization had no sense. Buth this basic case, is for me equivalent to don't addding it. The same for each one of the s

[2019-10-01 19:34] viboes commented on #232
I'm asking on cpplang slack and it seems I'm not the only one that finds that thi sis weird and a regression.

[2019-10-02 10:39] andreasfertig commented on #233
You're welcome!

[2019-10-03 04:58] anippuleti commented on #244
Hi Andreasfertig,

It's for sure due to company network filtering. When I am not connected to
company network, there are no issues. I am in USA, Calfornia, San Jose.

Whenever I restart my laptop and try to open Cppinsights on google Chrome,
It fails with attached snapshot. I then click on "Running Windows Network
Diagnostics" and then reloads the page successfully. Most likely issue with
my netwo

[2019-10-04 16:44] staffantj opened #249 "Add overload resolution type display"
With generated code, it's common to end up troubleshooting code such as
(apologies for bad formatting due to phone UI)
---
struct field1 { int i{ 4} ;};

struct field2 {double d{3.142};};

struct msg
{
field1 f1;
field2 f2;

field1& fielder() { return f1;}
field1 const& fielder() const { return f1;}
} ;

field1 getter( msg in)
{
return in. fielder() ;
}

int main()
{
msg m;
return getter) m) ;
}
-

[2019-10-07 08:43] andreasfertig commented on #249
Hello @staffantj,

sounds interesting. Can you share an example how you like to see things? I'm not sure I do fully understand what you like to see (how and where).

Andreas

[2019-10-08 18:20] #156 closed

[2019-10-08 19:29] Quuxplusone opened #251 "Transformations around `noexcept` are minorly confusing"
Based on the first example from [this blog post](https://www.andreasfertig.blog/2019/03/hello-c-insights.html):
https://cppinsights.io/s/dfd1da7c

[code]
produces
[code]
This is technically correct, but surprising, because you redundantly place `noexcept` on the default constructor and on the destructor, but you don't redundantly place `noexcept` on the other two special members (even though those

[2019-10-08 20:32] andreasfertig commented on #251
Hello @Quuxplusone,

thank you for bringing these two issues up.

Well, at this point it is the result of what Clang tells the implementation. There is no special case for the different special members. In your example only the default constructor is used and with that only its `noexcept` is evaluated by Clang. You can see it in the AST output as well [godbolt](https://godbolt.org/z/IM87xP). It ch

[2019-10-08 22:50] Quuxplusone commented on #251
Yes. Basically I saw two possible ways CppInsights might be choosing its output in this case: either it would say "this ctor is noexcept, so I will mark it `noexcept` in the output (i.e. I always produce output with `noexcept`-specifications even if they're redundant)," or it would say "this ctor is noexcept, but that's actually the default anyway, so I don't need to write `noexcept` redundantly i

[2019-10-15 12:35] pseyfert opened #254 "template arguments for templated methods don't appear in cppinsights"
[demonstrator](https://cppinsights.io/lnk?code=c3RydWN0IGRlbW9uc3RyYXRvcnsKICB0ZW1wbGF0ZSA8dHlwZW5hbWUgcmV0dXJuX3R5cGUgPSBkb3VibGU+CiAgcmV0dXJuX3R5cGUgdGVtcGxhdGVkX2Z1bmN0aW9uKCkgewogICAgcmV0dXJuIHJldHVybl90eXBle307CiAgfQp9OwoKaW50IGRlbW9uc3RyYXRlKCkgewogIGRlbW9uc3RyYXRvciBEOwogIEQudGVtcGxhdGUgdGVtcGxhdGVkX2Z1bmN0aW9uPGJvb2w+KCk7CiAgRC50ZW1wbGF0ZSB0ZW1wbGF0ZWRfZnVuY3Rpb248ZmxvYXQ+KCk7CiAgRC50ZW1wb

[2019-10-15 15:41] pseyfert opened #255 "resolved type names for types defined in class bodies lack their "namespace""
comparing [this](https://cppinsights.io/lnk?code=I2luY2x1ZGUgPGNzdGRkZWY+CiNpbmNsdWRlIDx0dXBsZT4KI2luY2x1ZGUgPHZlY3Rvcj4KCnN0cnVjdCBJdGVyYWJsZSB7CiAgdXNpbmcgV2lkZ2V0ID0gc3RkOjp0dXBsZTxpbnQsIGZsb2F0PjsKICB0ZW1wbGF0ZSA8dHlwZW5hbWUgYWNjZXNzX3R5cGU+CiAgc3RydWN0IEl0ZXJhdG9yIHsKICAgIEl0ZXJhYmxlKiAgIG1faXRlcmFibGU7CiAgICBzdGQ6OnNpemVfdCBtX3BvczsKICAgIGJvb2wgICAgICAgIG9wZXJhdG9yPT0oIGNvbnN0IEl0ZXJhdG9yJiB

[2019-10-16 15:39] andreasfertig commented on #254
Hello @pseyfert,

thanks for bringing that up. That indeed is an interesting case. I'll have a look into it and come back to you.

Andreas

[2019-10-16 15:40] andreasfertig commented on #255
Hello @pseyfert,

thank you for reporting this. I'll look into it.

Andreas

[2019-10-18 10:54] #176 closed

[2019-10-18 14:24] sweenish opened #258 "C++14 lambda with init capture does not generate valid code"
This is the code I wanted to see expanded; it is valid C++ and compiles fine on my Catalina MBP.
[code]

Here is the generated code:
[code]

And this is the error message I get from the generated code:
[code]
The generated constructor attempts to make a copy of a type I am attempting to init capture in my lambda. This type also happens to be non-copyable. For reference, if it was a `vector` instea

[2019-10-18 18:18] andreasfertig commented on #258
Hello @sweenish,

thank you for reporting this. At this point there is some lifting involved to generate the code of the lambda. I check whether it is possible to handle this case correctly.

Andreas

[2019-10-19 15:58] #221 closed

[2019-10-22 18:20] pgroke-dt opened #263 "Support Boost headers"
Hi,

having Boost headers available would be good. Boost contains many libraries that feature entirely non-trivial code. Having a tool like cppinsights available that can help answer questions like which conversions are invoked, which overloads are being selected etc. would be nice.

Of course the ideal solution would be something like Matt Godbolt's awsome Compiler Explorer has where you can sele

[2019-10-23 21:37] jonathanpoelen opened #264 "Folding expressions missing parenthesis"
Similar to #91, but for other operators.

[code]

https://cppinsights.io/lnk?code=aW50IG1haW4oKQp7CiAgYXV0byBmID0gW10oYXV0by4uLiBpKSB7IHJldHVybiAoLi4uL2kpOyB9OwogIGF1dG8gZyA9IFtdKGF1dG8uLi4gaSkgeyByZXR1cm4gKGkvLi4uKTsgfTsKICBmKDEsMiwzKTsKICBnKDEsMiwzKTsKfQ==&insightsOptions=cpp2a&std=cpp2a&rev=1.0

[2019-10-25 09:16] andreasfertig commented on #264
Hello @jonathanpoelen,

thank you for discovering and reporting this. I probably was to conservative with the fix in #91.
I will push a fix probably by today.

Andreas

[2019-10-25 09:19] andreasfertig commented on #263
Hello @pgroke-dt,

that is an interesting enhancement. I totally see the benefit. However, I also see the increased maintenance that comes with it. I have to think about the long-time implications a bit more.

Andreas

[2019-10-25 09:22] pgroke-dt commented on #263
I think it would be nice to have it. But I completely understand if you decide it's too much work :)
BTW: Maybe you could team up with Matt Godbolt to merge this functionality into Compiler Explorer? Because this would be really awesome!

[2019-10-25 09:41] andreasfertig commented on #264
Looks like there are multiple issues with the CI builds. With that, I will not be able to provide a fix today.

Andreas

[2019-10-25 09:43] andreasfertig commented on #263
Great, thank you!

I understand that for some reasons it would be great in Compiler Explorer. For the moment I like it as it is. I think with the current way users can get more context about what C++ Insights is and does. Plus issues reports get straight to me.

Andreas

[2019-10-25 10:45] pgroke-dt commented on #263
It would not necessarily have to be a feature hosted on godbolt.org. I was just thinking since Compiler Explorer is open source it could be possible to maybe use its container deployment scripts or something. IDK how reusable that stuff it, but if it is it would be great because there's a ton of libraries available on Compiler Explorer.

Anyway, it was just an idea. I of course respect if you don'

[2019-10-27 14:32] #264 closed

[2019-10-27 16:47] #258 closed

[2019-10-27 18:35] #251 closed

[2019-11-01 12:42] #92 closed

[2019-11-12 14:19] #254 closed

[2019-11-17 11:54] #255 closed

[2019-12-02 18:04] BRevzin opened #277 "Structured bindings with tuple shows incorrect tuple_element usage"
This example:

[code]

expands as:

[code]

This is equivalent, but I think you really want `std::tuple_element<1, std::tuple<int, double> >::type` there instead (since that's what the specification says).

With a different custom structured binding implementation:

[code]

the binding there shows up as:

[code]

Instead of `std::tuple_element<1, Point>::type`.

Which gets even more confusing if I

[2019-12-02 18:32] andreasfertig commented on #277
Hello @BRevzin,

thank you for spotting and reporting this. I never realized it and I'm still not sure what the reason is. I'm with you that it is odd.

Let's walk through it.

Look at it in [C++ Insights](https://cppinsights.io/s/416dbfc5). There is appears as you expect it, correct? The difference is, that in this link I switch the STL to libc++ (libstdc++ is the default). This seems to have an

[2019-12-26 15:16] languagelawyer opened #279 "The name of a variable of type "pointer to member" is misplaced"
For the code
[code]
[cppinsights produces](https://cppinsights.io/lnk?code=c3RydWN0IFMgeyB2b2lkIGYoKTsgfTsKCmludCBtYWluKCkKewogICAgYXV0byBwID0gJlM6OmY7Cn0=&insightsOptions=cpp17&std=cpp17&rev=1.0)
[code]
while it should have produced
[code]

[2020-01-01 18:41] zorg93 opened #280 "ConstexprVariableCase duplicated in clang-tidy options file"
https://github.com/andreasfertig/cppinsights/blob/128d05d4c706ed8a4cbe49b605836a356fbc0137/.clang-tidy#L12
https://github.com/andreasfertig/cppinsights/blob/128d05d4c706ed8a4cbe49b605836a356fbc0137/.clang-tidy#L20

[2020-01-02 15:24] andreasfertig commented on #280
Hello @zorg93,

thank you for spotting this!

Andreas

[2020-01-02 15:55] #280 closed

[2020-01-02 16:09] andreasfertig commented on #279
Hello @languagelawyer,

thank you for your continous support and bug reports! A fix is on its way.

Andreas

[2020-01-02 17:05] #279 closed

[2020-01-14 18:58] niklasnolte opened #286 "`decltype` isn't resolved when followed by `&`"
https://cppinsights.io/s/6f62be64 vs https://cppinsights.io/s/8b0c93a7

In the case where the decltype(v) is followed by &, the type does not get resolved.
Is this wanted behaviour?

[2020-01-15 13:43] andreasfertig commented on #286
Hello @niklasnolte,

thank you for spotting & reporting this. I consider it a bug and not the wanted behaviour. A fix is on its way.

Andreas

[2020-01-15 13:47] niklasnolte commented on #286
thanks for the quick fix @andreasfertig !

[2020-01-15 13:47] #286 closed

[2020-01-16 10:56] Carl2 opened #288 "Segmentation fault?"
Hi I was trying out some code on compiler explorer, which worked fine:
https://godbolt.org/z/AYnVxu

Then I tried the same code on cppinsight and got a segmenation fault?
https://cppinsights.io/s/a2e3fe36

[code]

[2020-01-16 11:26] andreasfertig commented on #288
Hello @Carl2,

yes that is in fact a seg fault due to a stack overflow. It was dragged in by a change I made yesterday. Thanks for spotting and reporting it. A fix is on its way.

P.S: Nice piece of code.

Andreas

[2020-01-16 12:10] #288 closed

[2020-01-24 12:15] languagelawyer opened #290 "Anonymous struct shouldn't be named as `(anonymous)`"
For the code below
[code]
[cppinsigths produces](https://cppinsights.io/lnk?code=dW5pb24gVSB7CiAgc3RydWN0IHt9IHM7Cn07&insightsOptions=cpp17&std=cpp17&rev=1.0)
[code]

[2020-01-27 07:34] kunaltyagi opened #291 "Emit code to see Rule of 3/5/0"
Is it possible to emit code for 'default' ctors (as comment or anyhow) and marks them with "As per Rule of 3/5/0"? If they can't be emitted, provide a comment saying: "can't due to presence of X".

This will help newcomers understand all this a bit better.

Thanks for the awesome work

[2020-01-27 08:05] andreasfertig commented on #290
Hello @languagelawyer,

thank you for your continuous support! That is in fact a little embarrassing, up to this point unions where not supported at all. They were shown as struct all the time.

The second thing which is wrong is the handling of anonymous structs, hence the `struct (anonymous) s;`. They are a bit harder to handle. In your example the resulting (down-stripped) AST is the following:

[2020-01-27 08:14] andreasfertig commented on #291
Hello @kunaltyagi,

you're welcome!

I'm not sure, if I understand your request. C++ Insights does emit compiler generated functions as a comment. However, Clang only generates them when actually used. Here is an example [cppinsights.io/s/12a9481b](https://cppinsights.io/s/12a9481b):

[code]

In case of `Zero` nothing is shown, as Clang does not create anything in this case. This is different in `

[2020-01-27 08:56] kunaltyagi commented on #291
Sure. The 3/5/0 rule is a bit difficult. For example: when will a move ctor or move assignment be available, and when it wouldn't be. What's the simplest method to ensure that it is present? Will a ` = default` work or will a complete definition needs to be provided?

In order to make this more palatable, it might help if the following happens:
[code]

[2020-01-27 13:33] andreasfertig commented on #291
Hello @kunaltyagi,

I agree.

I'm still not sure whether I understand correctly what you like to see.

In your example, `EmitDestroyed` is not used. Clang does not border to generate code for this. Not even in the front-end. That's why there is nothing shown in C++ Insights. Which is quite helpful, if you're looking into performance stuff. The same goes for `Owner` which is probably more interesti

[2020-01-27 15:08] kunaltyagi commented on #291
Thanks Andreas. Essentially, clang doesn't create functions if they aren't used. This is pretty helpful. I created a template function which tries to use the functions so they get emitted.

This works [semi as-expected](https://cppinsights.io/s/0cf91f26), semi because the dtor was missing but a private inheritance fixed that up. I think it will not change the semantics, but I'll have to check to e

[2020-01-27 15:08] #291 closed

[2020-01-31 05:05] #249 closed

[2020-02-10 09:46] pseyfert opened #292 "spell out overload resolution"
(triggered by [this SO question](https://stackoverflow.com/questions/60141128))

I have noticed that while I was successful using cppinsights to look up what overload resolution a compiler picks on free standing functions [example](https://cppinsights.io/lnk?code=ZmxvYXQgZigpOwpmbG9hdCBmKGRvdWJsZSk7CmZsb2F0IGYoaW50KTsKCmF1dG8gZygpIHsKICByZXR1cm4gZigzLjE0Zik7Cn0=&insightsOptions=cpp17&std=cpp17&rev

[2020-02-11 11:16] andreasfertig commented on #292
Hello @pseyfert,

thank you for bringing this up, again. Your specific example actually revealed an issue in C++ Insights. There is a function [`IsMatchingCast`](https://github.com/andreasfertig/cppinsights/blob/d67b3a4cd8cd5430ecd0ab658866b879d930e08b/InsightsMatchers.h#L53) which acts like a filter for casts. In the current version is filters `CK_NullToPointer` and `CK_ArrayToPointerDecay`. Both

[2020-02-11 13:55] pseyfert commented on #292
Hi Andreas,

your suggestion and reasoning sound good to me.

Thanks,
Paul

[2020-02-11 15:31] #292 closed

[2020-03-07 15:12] TiborGY opened #295 "Compilation fails for code using __float128 (libquadmath)"
Demonstration : [https://cppinsights.io/s/ebf124a0](url)

[2020-03-09 13:40] andreasfertig commented on #295
Hello @TiborGY,

the relevant header or better library is not installed for the web-version of C++ Insights. Currently, there are no additional libraries, as for example Compiler Explorer provides them. As it increases maintainability effort I tend to keep this kind of dependencies minimal. May I ask what you like to see here and why `libquadmath0` should be part of C++ Insights?

Andreas

[2020-04-05 13:25] rrika opened #298 "Call of `template <typename T> void fun (T&& t) { };` leads to segfault"
[code]
https://cppinsights.io/s/4939edc0

[2020-04-05 14:50] andreasfertig commented on #298
Hello @rrika,

thank you for reporting this issue. I haven't figured out how to fix it yet. However, as a quick fix, in case you like to see the result, remove the semi-colon at the end of line 1.

Andreas

[2020-04-07 09:42] #298 closed

[2020-04-08 11:03] andreasfertig commented on #181
Hello @languagelawyer,

sorry that it took so long. I starred at this issue multiple times. Until yesterday the conclusion was always "I don't know how to fix this". Then yesterday, I revisited it from a different angle and there it is :-) I overlooked the fact, that this is the first time a lambda is decomposed. I knew it, but didn't take it into account. Lambda `FieldDecl` does not have a name i

[2020-04-08 12:27] #181 closed

[2020-04-12 23:11] ArtemSarmini commented on #232
@viboes it was a defect

[code]

[2020-04-22 07:58] ilyapopov opened #311 "Cppinsights loses alignas specifications"
See https://cppinsights.io/lnk?code=c3RydWN0IGFsaWduYXMoZG91YmxlKSBmb28gewogICAgaW50IGk7Cn07CgpzdGF0aWNfYXNzZXJ0KHNpemVvZihmb28pID09IDgpOwo=&insightsOptions=cpp2a&std=cpp2a&rev=1.0

[2020-04-23 08:35] andreasfertig commented on #311
Hello @ilyapopov,

thank for reporting this. `alignas` is modeled as an attribute in Clang. Currently, there is no implementation to support attributes in C++ Insights. They are missing in other places like `[[no_return]]` and more. However, I'm working on it, as `consteval`/`consteval` are modeled as an attribute as well.

Andreas

[2020-05-15 22:15] #295 closed

[2020-05-23 11:08] andreasfertig opened #313 "C++ Insights - Episode 1: The invisible things - Invalid ImplicitCast"
In [C++ Insights - Episode 1: The invisible things](https://youtu.be/3jurr-pvPrY?t=227) there is an example:

[code]

The transformation that C++ Insights shows leads to:

[code]

which is incorrect. The first `static_cast<A>` is missing `const`.

It was initially reported by [@peterkochlarsen](https://twitter.com/peterkochlarsen/status/1263095767260180480?s=20) and [@DanielKhoshnoud](https://twit

[2020-05-23 12:15] #313 closed

[2020-05-30 09:39] #244 closed

[2020-05-30 09:50] maddin200 opened #317 "style issue - include twice"
cppinsights-master/Insights.cpp (line 27)  include (DPrint.h) also in line 24.

[2020-05-30 10:07] andreasfertig commented on #317
Hello @maddin200,

thanks for spotting this.

Andreas

[2020-05-30 10:42] #311 closed

[2020-05-30 13:59] #317 closed

[2020-06-09 17:05] #290 closed

[2020-06-20 19:15] dvirtz opened #323 "wrong variadic template expansion"
in an expansion of

[code]

the last expansion uses `value` instead of `count<>::value`:

[code]

https://cppinsights.io/s/2701bf6e

[2020-06-22 07:14] andreasfertig commented on #323
Hello @dvirtz,

thank you for spotting and reporting this! I will have a look at it. I suspect it is a bit harder to fix. Managing the namespaces wasn't easy in the past.

Andreas

[2020-07-02 09:49] lSoleyl opened #324 "Imprecise translation for ternary operator"
Hi,

this is a great tool for crosschecking the compiler's interpretation of C++ code. However the expansion of the ternary operator looks a bit misleading to me. Given the following code:
[code]

With C++17 the `getString()` function gets translated into:
[code]
I would argue that a parenthesis is missing and it should look like this for both result types of the ternary expression to match:
[code

[2020-07-02 12:27] andreasfertig commented on #324
Hello @lSoleyl,

that is a nice one. Thanks for spotting and reporting this issue.

I agree that the expression needs some additional parenthesis. A fix for that is on its way.

To you second part, and thanks for reporting the C++17 version first, this is correct. However, I agree that it looks wired. I assume this was either a bug in Clang or the language rules changed with C++17. The additional

[2020-07-02 13:47] lSoleyl commented on #324
Thanks for the quick response and the link to the compiler explorer... I didn't knew about this one.
As to your quick note:

This example was originally crafted to be a C++ quiz to explain why `getString()` results in UB no matter whether `empty` is set or not, but in the original example `Str` also owns the string and deallocates it in it's destructor (I left out this part here to not make the ex

[2020-07-02 16:28] andreasfertig commented on #324
Hello @lSoleyl,

my pleasure.

thanks for clarifying the origin of the code. I figured something like this.

Agreed. For that piece of code it doesn't matter. And yes, AST is way to early to see the final result. More or less no optimization takes place at this stage. My note was about a more expensive to setup object when the compile cannot optimize it away so easily.

Andreas

[2020-07-02 18:18] #324 closed

[2020-07-10 07:58] Tocic opened #328 "std::is_same_v<> produces wrong insight"
The following code [produces wrong insight](https://cppinsights.io/s/3fcd5785):

[code]
||
v
[code]
While this example [is okay](https://cppinsights.io/s/c928a1bd):

[code]
||
v
[code]
It's taken from the [254th C++ Quiz question](http://cppquiz.org/quiz/question/254), btw.

[2020-07-13 08:26] andreasfertig commented on #328
Hello @Tocic,

thanks for reporting this! That is an interesting one. On my Mac it works. However, the web site runs Linux so I have to dig a little deeper to figure out what goes wrong there. Anyway, as it is now it is a bug.

Andreas

[2020-07-21 20:37] #328 closed

[2020-07-24 12:19] #323 closed

[2020-07-24 15:00] KoenigKrote opened #331 "Incorrect macro expansions"
Invalid semicolons get inserted when using certain define macros.

For example, the well known `do { stuff; } while (0)` macro wrapper trick expands incorrectly.'

Example:
[code]

Expands into

[code]

Which has incorrectly inserted an additional semicolon between the if/else blocks (or automatically inserted one after while(0), causing the original semicolon to be pushed between blocks)

[2020-07-24 16:22] andreasfertig commented on #331
Hello @KoenigKrote,

nice catch! Thanks for reporting this. The issue comes from the do-while inside an `if` or `else`. The macro has nothing to do with it. A fix is on its way.

Andreas

[2020-07-24 17:19] #331 closed

[2020-07-26 05:13] NooneAtAll opened #333 "Example from cppreference compiles on godbolt, doesn't compile in insights"
Example from https://en.cppreference.com/w/cpp/memory/new/operator_delete
On godbolt: https://godbolt.org/z/cn1K68
On cppinsights: https://cppinsights.io/s/d7c759a7

[code]

[2020-07-26 09:35] andreasfertig commented on #333
Hello @NooneAtAll,

thanks for reporting this! Looks like you found a special case for attributes which leads to that crash. A fix is on its way.

Andreas

[2020-07-26 11:35] #333 closed

[2020-08-09 22:58] korelkashri opened #336 "fold expression instantiation"
A really important issue about fold expressions is the parenthesis. Now, it's not a bug, but a possibility for a wrong understanding of how does fold expression instantiation work. A simple example:

[code]
Will produce the following specialization:

[code]
Which is mostly right, at this particularly case- There should be an outer parenthesis, but they are meaningless here. But not in the followin

[2020-08-10 07:19] andreasfertig commented on #336
Hello @korelkashri,

all issues are important, at least to me. Thanks for reporting this one. The goal is to show correct code which compiles and yields the same result. However, showing "correct" code is not always possible.

You are right, the outer parenthesis are missing. The reason is, that in the instantiation of the function template there are only expressions left like in this case `Binary

[2020-08-10 14:04] korelkashri commented on #336
No, you are right, I showed the second example to show that the behavior is correct, it just doest show the outer parenthesis in case that they don't require.

[2020-08-12 12:24] Waqar144 opened #337 "Doesn't show const qualification when using decltype"
The following snippet:

[code]

Expands to:

[code]

Where it should be `const int y = 30`;

[2020-08-12 16:32] andreasfertig commented on #337
Hello @Waqar144,

thanks for spotting and reporting this! A fix is on its way.

Andreas

[2020-08-12 17:50] #337 closed

[2020-09-05 12:21] languagelawyer opened #341 "Reference to type alias denoting an array type is mishandled in function return type"
[code]
turns into
[code]
There is no `g` and `h` in the cppinsights output.

[2020-09-07 10:05] lingjf opened #342 "vscode extension"
i want to use it in vscode as extension conveniently.

[2020-09-08 07:26] andreasfertig commented on #341
Hello @languagelawyer,

I haven't received an issue report from you for a while. Glad you are still using and reporting issues for C++ Insights! Thank you for catching and reporting this one. A fix is on its way.

Andreas

[2020-09-08 07:33] andreasfertig commented on #342
Hello @lingjf,

thank you for raising that request. Unfortunately, I'm not a vscode user. I have no idea how an extension has to look like. From your short request, it is unclear to me what exactly that extension should do. Transform an entire project, only a selected part of the code... Maybe you could elaborate a bit more on that. Feel free to send a PR. I'm happy to leave this request, with mor

[2020-09-08 10:04] #341 closed

[2020-09-08 12:59] lingjf commented on #342
i also have no idea how it works in vscode now, but i try to write one.

[2020-09-12 00:30] coralkashri opened #344 "A minor attention to lambda expressions"
It's not a bug, but an extra `;` empty line when using lambda expressions without any usage inside a scope:

[code]

Will generate:

[code]

When there is a usage for the lambda, this line if for the usage. For example, for `[](){} ();` we'll get there:

[code]

Or for an assignment:

[code]
Just a minor attention :)

[2020-09-12 14:25] coralkashri opened #345 "New Feature Offering: Compilers versions comparation"
I have a new cool feature to offer. In addition to choosing a compiler version, an ability to choose a versions comparison which will add a note to every line that will show which version was the last to modify this line by the compiler.
E.g.

Lambda expressions:

[code]

[2020-09-12 22:51] korelkashri opened #346 "Auto param in lada expression result doesn't compile"
Consider the following input:

[code]

The result will be:

[code]
If you'll take this result and compile it, it won't compile with a compilation error:

[code]

To make it compile, you have to declare the class outside the `main` scope:

[code]

Now about the function explicit specialization. It's not allowed inside a non-namespace scope. To solve this issue (you'll get an error without the `ifnd

[2020-09-15 06:35] andreasfertig commented on #344
Hello @korelkashri,

thanks for reporting this. I already looked into it and it seems that a fix isn't as small as the issue itself. It may take a while to fix it.

Andreas

[2020-09-15 06:43] andreasfertig commented on #345
Hello @korelkashri,

thank you for thinking about this. I think there was another issue where, as a derail, we discussed having annotations. There are already minor things in C++ Insights, like saying that something is an NRVO variable.

The way as you show it above, even I had to pause a few seconds first to get what is new. I think when annotations are added, there needs to be a mode to turn the

[2020-09-15 06:56] andreasfertig commented on #346
Hello @korelkashri,

thanks for bringing this up. You are right. As users, we are not allowed to define a class template inside a function. We are also not allowed to provide a specialization inside a class.

However, there are two things. First, it is more complex than moving the closure type before `main`. Consider this example:

[code]

To make it compile, the closure type must not just go befo

[2020-09-15 06:57] #336 closed

[2020-09-26 10:20] #346 closed

[2020-09-26 10:30] andreasfertig opened #347 "Lambda constructor shows uneccesary copies"
I was made aware of the following example by @fenbf:

[code]

C++ Insights currently shows this transformation:

[code]

There the constructor of `__lambda_5_12` takes the arguments by copy. However, the Standard requires direct-initialization.
This is an area where the compiler is mightier than what developers can express in C++. The best option is to taken the parameters by reference or `const`

[2020-09-26 14:27] #347 closed

[2020-10-05 16:11] mfurkanuslu opened #349 "Incorrect alias type naming of aliases for pointer to member types"
For example for this input;
```auto m = &S::mem;```

The output is:
[code]
But m is actually a pointer to member variable.

[2020-10-12 07:54] andreasfertig commented on #349
Hello @mfurkanuslu,

thanks for bringing this up. Can you please provide a full example? That helps for tests later and me to understand what you see that is wrong here. I'm not clear on that. Do you say something is invalid C++ in the transformation of your example, or do you say `FuncPtr_7` should be named something like `MemVarPtr`?

Andreas

[2020-10-12 08:38] mfurkanuslu commented on #349
Yes.

[2020-10-12 14:24] andreasfertig commented on #349
Hello @mfurkanuslu,

thanks for the clarification. A fix is on its way.

Andreas

[2020-10-12 16:35] #349 closed

[2020-10-24 08:06] korelkashri commented on #346
I can't disagree with you :)
Although I think that the win situation is to be closer to the standard with a note the this code might not compile (in cases it won't) and that it's this way to avoid unnecessary complexity when understanding is in need.

[2020-10-26 14:25] andreasfertig commented on #346
Hello @korelkashri,

true. My fear is that comments like these plus some other annotations you suggested are then all over the code and generate to much noise. In another issue it was suggested to put information like this in the docs ([docs.cppinsights.io/](https://docs.cppinsights.io/)) which is think is the better option. They are generated from here [github.com/andreasfertig/cppinsights/tree/m

[2020-11-23 04:19] adromanov opened #351 "Incorrect constructor in return statement"
Consider the following code:
[code]
in `return` statement constructor from rvalue reference is called [(https://gcc.godbolt.org/z/KeWb4e)](https://gcc.godbolt.org/z/KeWb4e). This is due to [https://en.cppreference.com/w/cpp/language/return](https://en.cppreference.com/w/cpp/language/return) "Automatic move from local variables and parameters" part. This also could be seen in AST.
However, the outp

[2020-11-23 18:42] andreasfertig commented on #351
Hello @adromanov,

thanks for reporting this interesting issue. I think you uncovered a bigger issue with `ImplicitCastExpr`s in general. With your example, I think an `ImplicitCastExpr` with `NoOp` and an `xvalue` needs to be shown. I'm running some tests and try to figure out how to handle it correctly.

Andreas

[2020-11-28 21:55] jakubdabek opened #352 "Invalid array member type with structured bindings"
Example code:
[code]
And output:
[code]

[2020-11-29 16:14] andreasfertig commented on #352
Hello @jakubdabek,

thanks for reporting this issue! That is indeed terribly wrong. A fix is on its way.

Andreas

[2020-11-30 12:49] #352 closed

[2020-12-01 13:43] Rb37 opened #354 "Duplication of attribute specifier"
This example:
[code]
expands as:
[code]
This leads to duplication of `unsigned` and `__attribute__`

[2020-12-11 04:14] IOBYTE opened #365 "Incorrect output for template code"
This code:
[code]
produced this output:
[code]
The first instantiation was inserted in the middle of the class name on line 2.

[2020-12-11 13:42] andreasfertig commented on #365
Hello @IOBYTE,

thanks for catching and reporting this issue! It looks like the deduction guide is the trouble maker here. A patch is on its way.

Andreas

[2020-12-11 15:38] #365 closed

[2020-12-11 17:39] IOBYTE commented on #365
Thank you for the quick response.

I have a question about the output. Should it compile?  The output on line 48 gives an error.

[code]

[2020-12-11 17:42] IOBYTE commented on #365
I forgot to mention that I added this as the first line of the output:
`#define INSIGHTS_USE_TEMPLATE`

[2020-12-12 16:49] andreasfertig commented on #365
Hello @IOBYTE,

it is not supposed to compile. Deduction guides are still an element I'm fighting with. However, I think I can make the one in this example work. Thanks for bringing it up.

Andreas

[2020-12-12 17:17] andreasfertig commented on #354
Hello @Rb37,

my apologies but I totally overlooked this issue. Thanks for reporting it. A fix is on its way.

Andreas

[2020-12-12 17:41] #354 closed

[2020-12-17 06:04] fekir opened #369 "initializing static variables"
Since c++11, static variables are initialized thread-safely once in case of success.

cppinsights shows this correctly for

[code]

(ie and `catch(...)` with `__cxa_guard_abort` is present)

but does not for those variants (adding const or an indirection through a lambda or function)

[code]

[code]

[code]

[2020-12-17 14:30] andreasfertig commented on #369
Hello @fekir,

thanks for reporting this issue. The current implementation did consider only the case that the static variable gets initialized by a constructor but not by a `CallExpr`.

A fix is on its way.

Andreas

[2020-12-17 15:15] #369 closed

[2020-12-17 21:43] fekir commented on #369
Wow, what a fast fix.

I've done a couple test more, also with `noexcept` and `throw()` functions. Seems all fine.

I'm just uncertain about if difference for those cases is intended and/or correct:

[code]

[code]

Also adding a lambda with a simple return statement seems a big pessimization .
Again, not 100% sure if intended, as normally the compiler (at least gcc without optimisations) sees tha

[2020-12-19 19:06] jpollack opened #371 "Program does not compile when using LLVM 11."
CodeGenerator.cpp:1611 reads:

Which gives me the build error: `error: too few arguments to function call, expected 7, have 5`.

I dug through the LLVM source (as well as another tool which manipulates the AST by linking with LLVM :)) and found the change:

So it appears that the newer LLVM wants the locations of the left and right parens. (?)

I made a fix adding `clang::SourceLocation()` for bot

[2020-12-21 07:11] andreasfertig commented on #369
Hello @fekir,

you're welcome.

Great! It is always great if someone double checks what I'm doing here :-)

Let me first say that the entire `static` transformation is hand-crafted. It happens in the back-end and not in the front-end. C++ Insights uses the front-end result. That difference may not be obvious to everybody.

That said, I can only try to provide my view, that is not me saying I'm rig

[2020-12-21 07:40] andreasfertig commented on #371
Hello @jpollack,

I'm a little behind with the LLVM 11 support. Thanks for reporting this. A patch would be great. However, it needs to be backwards compatible with LLVM10. Here is an example https://github.com/andreasfertig/cppinsights/blob/9f1f1053f1b98eb8e8df07a0951abd91528e865f/CodeGenerator.cpp#L1706

Andreas

[2020-12-21 07:50] fekir commented on #369
I thought that lambda would be "deduced" noexcept, but it does not seem to come from the standard.
My guess was that as it is defined locally, the compiler uses that information (inlining even ith -O0 maybe?), but i have no insights (for that I use your tool :-P) how it is done...

It is actually an additional nice example on how lambdas are not just syntactic sugar/how much they provide for free.

[2020-12-22 09:53] andreasfertig commented on #369
Hello @fekir

Indeed, showing these things is the purpose of C++ Insights. The hazel here is that we are looking at stuff that happens in the back-end and seems to depend on optimizations. It looks like the different compilers do different things at `-O0`: [https://godbolt.org/z/5fqcq7](https://godbolt.org/z/5fqcq7) While you can see the try-catch in Clang, GCC seems to optimize it away even with

[2020-12-22 10:26] fekir commented on #369
Oh, should have checked clang to.
I think that what is currently shown is better than removing the exception handling for the lambda, as it should not be taken for granted.

I know it is, I thought that cppinsights believed there was a move (that could fail) and therefore the necessity to add exception handling code.

Agreed

I fear a patch is out of my reach, but I might give a look at it.

[2021-01-12 08:41] inhzus commented on #371
Really look forward for your patch! Now I have to merge your repo, jpollack/cppinsights before building.

[2021-01-30 13:54] #371 closed

[2021-01-31 23:41] languagelawyer opened #374 "Inside a class body, pointers to members of the class are turned into ordinary pointers"
[code]
is transformed into
[code]
All pointers to members of `T` (`T::N`) inside `T` (`T::N`) body became ordinary pointers to objects or functions. Out-of-line definitions are OK.

[2021-02-05 15:25] andreasfertig commented on #374
Hello @languagelawyer,

thanks for reporting this issue. It looks like my brute-force approach of remove unwanted namespaces was too much. A fix is on its way.

Andreas

[2021-02-05 18:48] #374 closed

[2021-02-17 02:17] SpriteOvO opened #376 "Complex macros are not expanded"
Issue example: https://cppinsights.io/s/8931a54c

Input:
[code]

Output:
[code]

I'm exploring a library [better-enums](https://github.com/aantron/better-enums) and I'd like to see what the `BETTER_ENUM` macro looks like when it expanded for the compiler, but Cppinsights' macro expansion doesn't work for it, although it works fine for `ARR_SIZE` macro.

I guess because the `BETTER_ENUM` macro is t

[2021-02-18 11:13] andreasfertig commented on #376
Hello @SpriteOvO,

thanks for reporting this issue. Macros are, well, difficult. I assume some of the matchers does not work here. In general macros do work. In your case, a workaround is to wrap `BETTER_ENUM(Word, int, Hello, World)` in a namespace:

[code]

Then it gets expanded.

No this doesn't work in C++ Insights. You're welcome to send me a PR.

My pleasure.

   Andreas

[2021-02-18 22:31] fekir opened #377 "macros "inside" enums are not expanded"
I noticed this issue when playing with x-macros, this is a minimal example.

It does not depend on the complexity of the macro, and does not depend on `#undef`.

[code]

I would expect it to expand to

[code]

but it actually gets expanded to

[code]

[2021-02-22 07:40] andreasfertig commented on #377
Hello @fekir,

thanks for reporting this issue! Currently, C++ Insights did not match an `EnumDecl` at the translation unit level, simply because I didn't saw a reason. But macros, ... well ... , they change the game. A fix is on its way.

Andreas

[2021-02-22 18:30] #377 closed

[2021-02-23 17:48] tiberiu-maran opened #379 "Lambda capture in a member function"
Hi, I was playing around with this very neat tool, and I stumbled upon a scenario where it doesn't seem to produce the right result.

https://cppinsights.io/s/bb1d1c12

Basically the code should capture both the local variable `a` and a pointer to `this`, but in the generated code, even though `a` is declared it is not initialized by the constructor of the lambda structure.

[2021-02-23 18:51] andreasfertig commented on #379
Hello @tiberiu-maran,

thanks for reporting this issue! Seems that this was sleeping for a long time. A fix is on its way.

Andreas

[2021-02-23 19:23] #379 closed

[2021-02-24 20:12] fekir commented on #377
Thank you @andreasfertig , I can confirm the fix.

[2021-02-24 23:29] dawidpilarski opened #381 "structured binding - wrong value category passed to the get function."
Having a simple code like:

[code]

results in following output from cppinsights:

[code]

Even though it looks fine, it's not accurate, because, when `__tup6` is not of lvalue reference type, which is the case here, then
xvalue is passed to the get function. You can have a look at a wording here:

https://eel.is/c++draft/dcl.struct.bind#4.sentence-7

here `e` is our `__tup6`.

Also `std::get` has

[2021-03-01 08:28] andreasfertig commented on #381
Hello @dawidpilarski,

thank you for reporting this issue and for the reference to the standard. This made me look deeper into structured bindings and correcting a few other parts.

A fix is on its way.

Andreas

[2021-03-01 09:19] #381 closed

[2021-03-01 14:32] #277 closed

[2021-03-12 09:18] TerensTare opened #386 "Incorrect code generation for IIFE inside if without parentheses"
First of all, I want to thank you for making CppInsights, it is a great and handy tool.
Then, consider the following C++20 code:
[code]
As it can be seen from the generated code of the move assignment operator, the lambda is generated inside the if clause, and then called outside the if. The part from the generated lambda-class body and after the invocation of the lambda should be inside the if (s

[2021-03-17 18:14] andreasfertig commented on #386
Hello @andreasfertig,

my pleasure! Thanks for reporting this. It took a bit longer than usual because this issue is not just present with `if`. It is wrong for `while`, `do ... while`, and `for` as well. As a bonus, the example above revealed that `final`was inserted at the wrong position. So you reported two bugs at once :-) A fix is on its way.

Andreas

[2021-03-17 18:46] TerensTare commented on #386
My pleasure to be of help! As for for the `final`, I have noticed it but I thought this was the intended behaviour😅.
Thank you once again,

Terens

[2021-03-17 18:50] TerensTare commented on #342
We can try to propose this to the vscode C/C++ extension team if this is still of interest. I use vscode and I'm pretty sure there are other people who are interested in this. As for what it should look like, vscode has a "Markdown Preview" feature which has the same layout as the CppInsights one, so the layout should be relatively trivial to implement.

Terens

[2021-03-17 19:25] #386 closed

[2021-03-17 19:25] andreasfertig commented on #386
Every bug counts! :-)

[2021-03-17 19:29] andreasfertig commented on #342
Hello @TerensTare,

I'm open to that idea to approach the vscode team. Just, I'm not a vscode user, so I cannot say exactly what is wanted and how it should look. If you like to propose this extension to the vscode team that would be great.

Andreas

[2021-03-17 19:49] i-ky commented on #342
I'm interested in VS Code support too, but I don't like the idea of baking this functionality into C/C++ extension. The best thing about VS Code is modularity. However, C/C++ extension already violates this principle by providing both highlighting/autocompletion and debugging capabilities. Their debugging has no alternatives, but there are other extensions (clangd and ccls) providing highlighting/

[2021-03-22 12:43] netcan opened #389 "the decltype result is not complete"
input code:
[code]

result:
[code]

[2021-03-22 13:13] andreasfertig commented on #389
Hello @netcan,

thanks for spotting and reporting this! A fix is on its way.

Andreas

[2021-03-22 14:10] #389 closed

[2021-03-27 07:25] TerensTare opened #391 "Incorrect code generated for final template specialisations"
Sample code: https://cppinsights.io/s/84d98d4f

Consider the specialisation `tnt::serializer<my_type>` instantiated. It generates the following code:
[code]

  The same applies to user-defined specialisations like `tnt::wrapper<my_type>` from the same code
[code]

[2021-03-27 11:01] andreasfertig commented on #391
Hello @TerensTare,

thanks for spotting this! I probably introduced it recently by adding support for `final` in the first place. Your example revealed another issue, member-pointers are not transformed correctly. A fix for both is on its way.

Andreas

[2021-03-27 12:56] #391 closed

[2021-03-31 03:01] fang13 opened #393 "Can insights show the relationship info between source's lines and the output's line?"
Can insights show the relationship info between source's lines and the output's line?

[2021-03-31 06:56] andreasfertig commented on #393
Hello @fang13,

at the moment, it cannot. Some time ago, I looked into a way of attributing the output with its source lines. I found that this approach might work on a function of class scope, but it gets more difficult when it gets down to something like a lambda or, say, correlating a template instantiation with its source.

If you see a way to do it and patch the web-frontend, I'm happy about

[2021-03-31 07:27] fang13 commented on #393
Thanks for your answer. I will try another way to look for their reloationship.

Best wishes.

[2021-04-03 13:48] jetcoder opened #394 "error: variable-sized object may not be initialized"
Full error message:
[code]
During following code running:
[code]
The error is shown for C++ standards from 11 to 20a.

[2021-04-03 14:47] i-ky commented on #394
As far as I know, variable length array is not a part of C++ standard, it is a [GCC extension](https://gcc.gnu.org/onlinedocs/gcc/Variable-Length.html). To an extent, clang supports VLA too, but it does not support initialization of such arrays.

[2021-04-03 20:35] jetcoder commented on #394
There is ans example in C++14 standard (N3690):
§ 8.3.4
[code]
But indeed, looks like clang doesn't support VLAs.

[2021-04-06 09:59] andreasfertig commented on #394
Hello @jetcoder,

VLA's are special. They work, even in Clang, if you remove the braced-init. As the size of a VLA is unknown at compile-time, the compiler cannot produce an initializer for it at compile-time. Hence, the following works:

[code]

As this is not a C++ Insights bug, I'm closing this issue.

Andreas

[2021-04-06 09:59] #394 closed

[2021-05-07 10:44] leg0 opened #398 "Incorrectly interprets C cast as static_cast instead of reinterpret_cast"
This code is doing a reinterpret_cast, but cppinsights says it's doing a static_cast.
in:
[code]

out:
[code]

[2021-05-07 13:34] andreasfertig commented on #398
Hello @leg0,

thanks for reporting this! A fix is on its way.

Andreas

[2021-05-07 13:50] #398 closed

[2021-05-09 14:08] uselessgoddess opened #400 "This is a bug. Or should it be?"
### Here is my code
[code]
### Here is the C++ Insights translation
[code]

Why
[code]
But
[code]
If C++ Insights doesn't expand constexpr expressions into their values, then why does the second option look so strange?

[2021-05-10 18:54] andreasfertig commented on #400
Hello @uselessgoddess,

thanks for reporting this _issue_ :-) It made me (re-)discover `ConstantExpr` and its value. A fix is on its way.

Andreas

[2021-05-10 20:51] #400 closed

[2021-05-12 22:59] erzyadev opened #402 "Initializations with a lambda inside lambda capture"
Initialization with lambda inside capture puts the definition of inner lambda inside outer lambda constructor argument list:
[code]
translates into
[code]

[2021-05-20 06:36] andreasfertig commented on #402
Hello @erzyadev,

thanks for reporting this issue. I'm surprised I never stumbled over this before. I took a quick look at it, and it is a bit more complex. I need to investigate it further and see what I can do.

Andreas

[2021-05-20 06:48] #351 closed

[2021-06-14 13:15] languagelawyer opened #404 "Array bounds are mirrored if remove_all_extents_t<array_type> is instantiated from a template"
[code]
becomes
[code]
Notice how `arr3` abounds became mirrored. Mirroring seems to happen to any number of dimensions.

Also, even though there is construction expression in Clang AST (`CXXConstructExpr <col:8> 'S [3][2]' 'void () noexcept'`, `CXXConstructExpr <col:8> 'T<int> [3][2]' 'void () noexcept'`), I don't think it should be dumped.

[2021-06-16 05:32] andreasfertig commented on #404
Hello @languagelawyer,

unbelievable that you spotted this one. Thanks! And thank you for reporting it. Unfortunately, it comes from the implementation of the type handler [InsightsHelpers.cpp](https://github.com/andreasfertig/cppinsights/blob/56aca5790818cad3ccdba2a2a38a97e061394e5b/InsightsHelpers.cpp#L721). I will see how I can fix it.

Best,

   Andreas

[2021-06-19 09:46] mma666 opened #405 "Missing implicit cast for compound operator"
Hi @andreasfertig

Thanks for creating great cppinsights! It's indeed so insightful! I noticed the operators doesn't expand for the built-in types like ```int``` and ```double```, while it works for ```complex``` type objects. Here is my code

[code]

and here is what I get from cppinsights

[code]

Also, I guess, in the case of  ```q += 2.0;``` the ```static_cast<int>``` is not shown. Are they re

[2021-06-21 16:27] andreasfertig commented on #405
Hello @mma666,

you're welcome! Thanks for reporting issues!

Builtin types do not have operators. Only classes can have them.

The compound assignment is interesting. You're right, the cast is missing there. I checked it, and the fix is a bit more complicated, because the implicit cast is very implicit at this point. It is not part of the AST, as far as I can tell. I'm looking for a good way to p

[2021-06-22 07:29] mma666 commented on #405
Hi @andreasfertig

Thanks for your reply. I learned something!

Best,
Mehdi

[2021-07-01 12:09] venkat-gvk opened #406 "Changing the way how default construction is visualized"
Here is the code:
[code]
The output it produces:
[code]

The expression `Vector<Box> s = Vector<Box>{Box("one")};` looks like a temporary of Vector of Box is created and it is move initialized. Yes starting from C++17 onwards it is elided. But it looks like copy/move.

If we change the output to something like `Vector<Box> s { Box("one") }` instead, it will match the default construction. If the c

[2021-07-16 19:47] ebikeratwork opened #407 "Assignment operator behavior"
TIL that:

`expression1() = expression2();`

is NOT(!) the same as:

`expression1().operator=(expression2());`

when expression1 and expression2 have side effects.

I am not truly an expert on this, but my current understanding is that:

`expression1() = expression2();`

has a defined order, see: http://eel.is/c++draft/expr.ass:

Important is that the right operand is sequenced before the left ope

[2021-07-19 01:28] jeremy-rifkin opened #408 "Bugged output for namespace variable declaration"
The following program

[code]

Produces this output on cppinsights:

[code]

The output should be along the lines of:

[code]

[2021-07-19 06:23] andreasfertig commented on #406
Hello @venkat-gvk,

thanks for reporting this. There is already an issue open (#120) that addresses the same issue. Your suggestion seems to be an approach. The downside is that it requires filtering the initializer. What we all currently see is what is in the AST. To make work what you describe I need to filter out the call to the constructor. I have a prototype that does this, but I'm reluctant

[2021-07-19 06:32] andreasfertig commented on #407
Hello @ebikeratwork,

that is an interesting feature you're bringing up. Things get indeed interesting if it comes to function calls. C++17 changed several statements making them well defined with a fixed evaluation order. However, some parts are still implementation-defined.

Now a couple of things.
First, in the case where it is implementation-defined the order depends on the compiler. C++ Insig

[2021-07-19 08:31] andreasfertig commented on #408
Hello @jeremy-rifkin,

thanks for spotting this! Last week I realized that the scope was dropped for static data members but I did not think about a variable in a namespace. A fix is on its way.

Andreas

[2021-07-19 08:59] #408 closed

[2021-07-24 03:23] venkat-gvk commented on #406
Thanks for the Reply. Looking forward to the prototype

[2021-07-27 18:12] samwhitlock opened #410 "False compilation failure with ranges"
* [here is a link to the source in cppinsights](https://cppinsights.io/s/35c6b453)
* This should definitely compile (compiler explorer is totally fine with it)
* It seems to fail a concept check for `ranges::begin` on a vector, which is a bit perplexing

[2021-07-27 18:13] samwhitlock commented on #410
Just for posterity's sake:

[code]

[2021-07-28 07:25] andreasfertig commented on #410
Hello @samwhitlock,

thanks for reporting this. What you're looking at isn't an issue in C++ Insights. It is that Clang and with that C++ Insights, by default uses libstdc++ on Linux (GCC STL). Now, libstdc++ is written for GCC but also supports Clang. However, in transition periods like now, it can be that libstdc++ and Clang are not 100% compatible. I don't know whether it is something in Clang

[2021-07-28 10:22] samwhitlock commented on #410
Definitely! i hope clang gets this support soon, as some of this stuff about how views are constructed will be great to see in cppinsights, especially the "lazy pipe" stuff, e.g. `auto x = std::views::drop(3) | std::views::take(1);`. Thank you!

(you can close this issue if you wish, imo)

[2021-08-09 09:32] mariusbancila opened #411 "Explicit instantiation definitions for class templates generate double definitions"
Example:
[code]
Result is:
[code]

Live demo: https://t.co/puhOYbbT3c?amp=1

The same does not happen for function templates.
Example:
[code]

Result:
[code]
Live demo: https://t.co/OkuTBT3Lwd?amp=1

[2021-08-10 19:22] #411 closed

[2021-08-24 11:22] Ignition opened #413 "Capture lambda are missing the deleted copy assignment"
I have no idea why the standard is this way....but it is.
Hence in cppinsights I would expect to see something like `__lambda_xyz& operator=(__lambda_xyz const &) = delete;` for lambdas that capture.

http://eel.is/c++draft/expr.prim.lambda#closure-13

[2021-08-25 12:46] andreasfertig commented on #413
Hello @Ignition,

that is an interesting point.

First let's be sure we are on the same page. You referring to something like this (in [C++ Insights](https://cppinsights.io/s/e896f12a))
:

[code]

The reason why you don't see the expected deleted assignment operator is simply because it is not there. Clang doesn't border creating implicit special members if they are not used. You can see this in t

[2021-08-28 21:54] Ignition commented on #413
Yes, we are on the same page.

Ah yeah...if C++ insight is relying on Clang AST generation I see why ATM it says nothing on this topic.

Thank you for responding.

[2021-09-20 02:23] devtbi commented on #342
I've created https://github.com/devtbi/vscode-cppinsights. Still in it's very early stages, but it publishes two commands to translate a file with insights and diff it with the original.

Don't think any dependency to the C/C++ extension is necessary, since clang tools support a compilation database - no additional info should be required.

[2021-09-20 13:29] andreasfertig commented on #342
Hello @devtbi,

thank you! That's a great addition for vscode. As I have no vscode would you mind adding some screenshots? You can add it to the C++ Insights Readme.md to make people aware of it. I will tweet about it. If you send me your Twitter handle (via PM if you want) I can credit you directly in the tweet.

Andreas

[2021-09-21 05:42] devtbi commented on #342
hi @andreasfertig,

yes I'll add a screenshot. It's very simplistic, just opens another editor aside of the original with the equally formatted output/ or a diff view (unfortunately haven't yet figured out how to get the same formatting there).

Anyhow, i'll try to spend some more time this week to get it to a state where I can upload a first version to the vscode extension "marketplace". Probably

[2021-09-27 06:29] devtbi commented on #342
hi there, @andreasfertig @i-ky @TerensTare @lingjf,
i've published the extension as a preview to the marketplace. Let me know if you have any feedback.

[2021-09-28 06:19] devtbi commented on #342
@andreasfertig can I use the logo for the vscode extension?

[2021-09-28 07:07] andreasfertig commented on #342
Hello @devtbi,

the extension looks great! Thank you!

Yes, you can use the C++ Insights logo for the vscode extension.

May I ask, how do you pass snippets to C++ Insights? I wonder if we need additional tests in C++ Insights to ensure that this API remains stable.

Andreas

[2021-09-29 14:58] Ukilele opened #415 "Conversion-operator not shown within argument for function template"
Hello Andreas,
first thanks a lot for this insightful tool. While using it, I noticed that cppsinsights does not show the call to a conversion operator in a specific situation. Please see following link [https://cppinsights.io/s/7e2fe644](https://cppinsights.io/s/7e2fe644). The Type `X` has an conversion operator `operator int()`. It gets called in line 10 and in line 12. While cppinsights shows t

[2021-10-01 15:34] devtbi commented on #342
hi @andreasfertig,

thanks :)

Not sure what you mean. As of now, the extension only works on file basis. Either the file is saved, then I use the the original file path an pass it to insights, or it's an unsaved file. In that case, I write the editor contents to a temp file and pass that to insights.

Always calling insights like this: `<path> <file> [-p <buildDirectory>] [--extra-arg <arg1> --ex

[2021-10-04 07:15] #413 closed

[2021-10-04 10:31] #402 closed

[2021-10-11 10:01] ahmedshakill opened #422 "clang version error in Insights VSCode extension on Windows"
Trying to use insights vscode extension on windows .
I have added insights executable directory to path variable .

Now I have VS 2019  and clang 11 installed .  But it gives this error .
I had clang 12 . Then switched to clang 11 but same error.
[code]

[2021-10-12 13:22] ki9gpin commented on #422
Could you elaborate and specify  "minimal working example"  ? I am not sure what you are asking
IMO my system configuration for running "isights vscode extionsion"  is ok .
I workspace directory contains  a  single  .cpp file . I was trying to run insights on that file using `command pallete -> show insights`  but it gives the error  as you can see .

[2021-10-13 07:07] andreasfertig commented on #422
Hello @ki9gpin,

sorry I was not precise. I'm talking about ta small code snipped that leads to the error.

Andreas

[2021-10-13 10:53] andreasfertig commented on #422
Hello @ki9gpin,

thank you!

A look at [`yvals_core.h`](https://github.com/microsoft/STL/blob/88332706f49d3297b200b5605ef174fc47d38d1a/stl/inc/yvals_core.h#L593) shows a compiler version matching for the STL version going on.

Can you try to set the define `_ALLOW_COMPILER_AND_STL_VERSION_MISMATCH`  in the build-flags? This [article](https://devblogs.microsoft.com/cppblog/c17-progress-in-vs-2017-1

[2021-10-14 10:23] #422 closed, assigned to nobody

[2021-11-10 18:06] eyalroz opened #423 "Feature request: show substitution failures"
It would be nice if cppinsights could print what items in an overload set were rejected due to substitution failure (for illustrating how SFINAE constructs work).

[2021-11-14 01:16] declmal opened #424 "Is the tranformed code in `https://cppinsights.io` identical with the one transformed by my local compiler `clang-1200.0.32.29`"
In view of my lack of knowledge on features of different compiler versions.
I submit my source code (`max1.cc` as follows) on `https://cppinsights.io/`
[code]
 and the transformed `Insignt` shows:
[code]

But I wonder whether this transformation is identical with the one that my local compiler does.
As mentioned in the `compatibility` part of `README.md`, the most recent stable version of clang is

[2021-11-15 13:34] andreasfertig commented on #423
Hello @eyalroz,

interesting idea. I don' know whether that is possible.

Let's assume it would be possible. How would you like them to be presented? What makes template errors so annoying is the compiler telling us all the overloads it tried.

Best,

   Andreas

[2021-11-15 13:39] andreasfertig commented on #424
Hello @declmal,

well that is a very good question. The result depends on various factors. The Clang version is one, the operating system the other, and the standard library.

The webserver runs on Linux. C++ Insights there uses libstdc++ (GCC's STL) as a default. The code that you show here, I assume, is identical. To be sure, you have to run C++ Insights locally with the exact same version of Cl

[2021-11-15 13:57] declmal commented on #424
Hello @andreasfertig
Thanks for your answer.
I am currently building c++ projects with template programming.
If both results are identical or almost the same, I could use insignts to debug my project (with tedious compilation erros...), since the transformed code would be informative.

[2021-11-15 14:12] eyalroz commented on #423
Well, initially, and assuming this would possible, I would just like the signatures of the overload-set members for which substitution failed, without listing the failure reason. Remember that the annoying long warning messages are mostly due to showing the entire instantiation "stack" down to where the actual failure occurred. If you only show the outer-level, it should be less painful to go thro

[2021-11-18 13:16] jfeep commented on #263
I bumped into this issue recently.  Any update on plans for availability of Boost libraries within cppinsights?

[2021-12-01 16:52] vittorioromeo opened #425 "Structured bindings with pair/tuple not producing references"
The following code:

[code]

Produces this after being run in cppinsights:

[code]

I think that is incorrect. It should be:

Produces this after being run in cppinsights:

[code]

According to cppreference:

[2021-12-10 13:51] byronhe opened #426 "invalid insight when auto as lambda argument"
with the following code:

[code]

[2021-12-13 13:12] JHBonarius opened #427 "Incorrect templated static member variable initialization"
I tried to help somebody on Stack overflow and got this issue: [link](https://cppinsights.io/lnk?code=I2luY2x1ZGUgPGlvc3RyZWFtPgoKdGVtcGxhdGU8aW50IHZhbD4KY2xhc3MgTXlDbGFzcwp7CnB1YmxpYzoKICAgIHN0YXRpYyBpbnQgdmFyOwp9OwoKdGVtcGxhdGU8aW50IHZhbD4gaW50IE15Q2xhc3M8dmFsPjo6dmFyID0gdmFsOwoKaW50IG1haW4oaW50IGFyZ2MsIGNoYXIqIGFyZ3ZbXSkKewogICAgTXlDbGFzczw1PiBhOwogICAgTXlDbGFzczw3PiBiOwogICAgTXlDbGFzczw5PiBjOw

[2022-01-02 07:10] sshsu opened #428 "does cppinsights support multiple file parsing"
I try to make a test using two files as below

[code]

[code]
then I use c++insights in vscode, it doesn't show the template deduction. Does c++insight support it?

![image](https://user-images.githubusercontent.com/26362180/147868863-94b5dc6a-0c6a-43bf-8155-ef6ad5fe7fab.png)

[2022-01-04 08:25] andreasfertig commented on #426
Hello @byronhe,

thanks for reporting this. Can you please tell me what you see is invalid?

Andreas

[2022-01-04 09:16] andreasfertig commented on #428
Hello @sshsu,

thanks for bringing this up! C++ Insights blocks transformations from include files for two reasons:

1. Usually the expansion of STL headers is more confusing then helpful.
2. For own include files, as well as for STL includes, I need a location where to insert the transformation.

I can look into this and see what I can do. One idea is to insert the transformations from include fi

[2022-01-04 09:17] andreasfertig commented on #427
Hello @JHBonarius,

nice one! Thanks for reporting this issue. A fix is on its way!

Andreas

[2022-01-04 10:08] #427 closed

[2022-01-04 15:19] ochavan9 opened #430 "Compiler Generated Destructor"
Hi,
Firstly, great job with this tool. It really helps to understand what magic the compiler does with our source code, especially providing insights about the modern cpp features.
I was trying out the tool for below code snippet:
class A{};
int main(){
A a;
}
The compiler output:
class A
{
  public:
  // inline constexpr A() noexcept = default;
};
int main()
{
  A a = A();
}

Here for the class A

[2022-01-04 15:23] andreasfertig commented on #415
Hello @Ukilele,

thanks for reporting this. So far I looked into the issue but I failed to find a solution. I will keep looking.

Andreas

[2022-01-04 17:17] andreasfertig commented on #430
Hello @ochavan9,

thank you!

Well, that is hard to understand. Clang sees that no destructor is necessary for your code example and hence doesn't bother generating one. You can see this independently from C++ Insights in Compiler Explorer [godbolt.org/z/n8hWY7KbK](https://godbolt.org/z/n8hWY7KbK):

[code]

This changes once you add a data member which requires destruction, for example [cppinsight

[2022-01-05 05:14] ochavan9 commented on #430
So, is this a clang specific optimization?
I also tried allocating on heap and invoking delete operator, but even then the destructor was not generated
[code]
So, unless you have a data member or derived part that requires destruction, the compiler does some optimization for trivial cases. Is that so?

[2022-02-05 10:41] andreasfertig opened #443 "Remove MSVC warning D9025 `overriding '/MD' with '/MT'`"
The Windows builds using `cl.exe`, for example "MSVC 2022 / LLVM 13 @ Windows Release" produce the warning `D9025`:

[code]

The full output can be found here [github.com/andreasfertig/cppinsights/runs/5076959142](https://github.com/andreasfertig/cppinsights/runs/5076959142?check_suite_focus=true#step:15:63)

The values `MT`, `EHs-`, ... are obtained from `llvm-config` [github.com/andreasfertig/cp

[2022-02-05 11:25] jcelerier commented on #443
I think that for CMake you should use https://cmake.org/cmake/help/latest/prop_tgt/MSVC_RUNTIME_LIBRARY.html to set it to match what llvm gives.

[2022-02-05 12:17] andreasfertig commented on #443
Hello @jcelerier,

thanks! How do I use these generator expressions? Like that:

[code]

Setting both properties and `cmake` decides which one to use? Does this property also control `EHs`?

Andreas

[2022-02-05 12:47] jcelerier commented on #443
The flags are

     MultiThreaded -> MT
     MultiThreadedDebug -> MTd

  so

    MultiThreaded$<$<CONFIG:Debug>:Debug>

will evaluate to MultiThreadedDebug if CMAKE_BUILD_TYPE=Debug and MultiThreaded in all the other cases. But I think that you should just set it to whatever llvm-config gives you because it's the one which is imposing it (you need to link with a CMAKE_BUILD_TYPE=Debug llvm if you

[2022-02-05 12:49] jcelerier commented on #443
(my personal solution to sidestep this madness is to not use MSVC at all but Clang+libc++ on Windows which does not have these issues - a debug libc++ can be used by programs built in Release and conversely)

[2022-02-05 12:50] #405 closed

[2022-02-05 13:31] andreasfertig commented on #443
Thanks!

C++ Insights uses both, Clang+libc++ on Windows and cl.exe + libc++. Mainly to get all errors and warnings and ensure that this setup works as well.

I see how to approach this. Thank you for your support!

[2022-02-05 17:35] #404 closed

[2022-02-05 18:04] #407 closed

[2022-02-05 18:05] #342 closed

[2022-02-05 18:12] #443 closed

[2022-02-05 18:44] andreasfertig commented on #430
Hello @ochavan9,

sorry for the delay. I don't know whether it is Clang specific. However, if there is nothing to destruct, which is the case in an empty class or even a class with only builtin members, a destructor is just overhead.

Andreas

[2022-02-05 18:44] #424 closed

[2022-02-08 16:57] andreasfertig commented on #425
Hello @vittorioromeo,

thanks for reporting this. I took me some time but I think I figured the correct behavior out. The patch will contain additional information, but I will explain it here as well for documentation purposes and discussions.

I agree that what C++ Insights showed was wrong. However, the resulting code should be

[code]

Both `a` and `b` are rvalue reference because `get` is call

[2022-02-08 17:04] andreasfertig commented on #226
Hello @viboes,

I just fixed another issue related to structured binding (#425). I read the wording a couple of times without seeing wording that says that the bindings are something special. I also looked at the code in Clang and couldn't find any special treatment.

Unless somebody shows me a different interpretation of the standard or code in Clang that treats `BindingDecl`s special, I assume t

[2022-02-08 17:15] andreasfertig commented on #232
Hello @viboes,

as using `=default` makes a difference here, I will keep the statements as comments. Treading this issue as NAD.

Andreas

[2022-02-08 17:15] #232 closed

[2022-02-08 17:25] #425 closed

[2022-02-22 10:29] andijcr opened #454 "noexcept for member functions not generating try...catch"
[example](https://cppinsights.io/lnk?code=c3RydWN0IERhdGEKewogIGludCBpOwogIGRvdWJsZSBkOwogIGRvdWJsZSBmdW5jKCkgY29uc3Qgbm9leGNlcHR7CgkvLyBzaG91bGQndCBhbHNvIHRoaXMgc2hvdyBhIHRyeSAuLi4gY2F0Y2ggYmxvY2s/IAogICAgcmV0dXJuIGQqaTsKICB9Cn07CgoKaW50IGZ1bmMoKSBub2V4Y2VwdCB7CiAgcmV0dXJuIDQqNjsKfQoKCg==&insightsOptions=cpp20,all-implicit-casts,edu-show-noexcept&std=cpp20&rev=1.0)

shouldn't noexcept on a member

[2022-02-22 15:03] andreasfertig commented on #454
Hello @andijcr,

thanks for reporting this. My apologies. This is a bug in my implementation. I left the member function case out. A fix is on its way.

Andreas

[2022-03-19 05:59] venkat-gvk opened #455 "overloading operator new and operator delete"
Shouldn't the generated output prefix the keyword 'static' in member function as operator new and delete functions are static by default?

[operator new and delete](https://cppinsights.io/s/3780d1db)

[2022-03-21 14:03] andreasfertig commented on #455
Hello @venkat-gvk,

thanks for bringing this up! I believe what C++ Insights shows is correct. We can have both a `static` and non-static version. It is up to us to say when the operator should be `static`. See [cppreference.com/w/cpp/memory/new/operator_new](https://en.cppreference.com/w/cpp/memory/new/operator_new)

Andreas

[2022-03-24 11:21] nickhuang99 opened #456 "alignas(xxx) is repeated"
Taking _tests/AlignAsTest.cpp_ as an example, the expression "alignas(128)" is **repeated** because it is **not** treated as part of global variable. To me, alignas is more or less like a sort of "assert" statement. Therefore "GetSourceRangeAfterSemi" does NOT include "alignas(128)" at all.

issue description:
original:   **alignas(128)** char alignedArray[128];
transformed:   **alignas(128)** **a

[2022-03-24 11:49] nickhuang99 opened #457 "adding "--gcc-toolchain" in running command option"
This is just a usage hint for example in "https://github.com/andreasfertig/cppinsights#usage".

In case user build its own GCC compiler, i.e. gcc-11.2.0, and NOT installed in default system path, then after building clang it cannot find correct libstdc++ path. This is because clang is purely depended on GCC builtin stl. The example is using "-isystem/usr/include" which is assuming user has install

[2022-03-24 12:14] nickhuang99 opened #458 "convert ‘bool’ to ‘clang::TemplateName::Qualified’not allowed in latest GCC"
When compiling with latest GCC-11.2.0 with -std=c++20, there is error like _convert ‘bool’ to ‘clang::TemplateName::Qualified’_ error
 It is better just leave it for default.

<pre><code>
diff --git a/InsightsHelpers.cpp b/InsightsHelpers.cpp
index d08157f..da68e0e 100644
--- a/InsightsHelpers.cpp
+++ b/InsightsHelpers.cpp
@@ -1378,7 +1378,8 @@ void StringStream::Print(const TemplateArgument& arg)

[2022-04-16 17:31] eyalroz commented on #423
That doesn't seem fair.

[2022-04-19 15:46] andreasfertig commented on #423
Hello @eyalroz,

yes, sorry I forgot to remove the tag.

Anyhow, so far I haven't found a way getting this overload set.

Andreas

[2022-04-28 01:22] #426 closed

[2022-05-01 09:08] mingodad commented on #458
With clang14 I'm getting the same error and applying the fix shown above has allowed I was able to build.

[2022-05-01 15:58] andreasfertig commented on #458
Hello @nickhuang99,

thanks for the fix. I use a modified version.

Andreas

[2022-05-01 16:28] nickhuang99 commented on #458
Can you merge the fix to main branch?

Sent via the Samsung Galaxy S22 5G, an AT&T 5G smartphone
Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Andreas Fertig ***@***.***>
Sent: Sunday, May 1, 2022 8:58:40 AM
To: andreasfertig/cppinsights ***@***.***>
Cc: nick huang ***@***.***>; Mention ***@***.***>
Subject: Re: [andreasfertig/cppinsights] convert ‘bool’ to

[2022-05-01 16:32] #458 closed

[2022-05-01 17:13] andreasfertig commented on #456
Hello @nickhuang99,

thanks for spotting and reporting this. A fix is on its way.

Andreas

[2022-05-01 17:22] #454 closed

[2022-05-01 17:32] andreasfertig commented on #455
Hello @venkat-gvk,

my appologies but my initial answer was wrong. You're right, the overloaded operators new and delete are implicitly static. Here is the correct source: [[class.free]](https://eel.is/c++draft/class.free#1)

A fix is on its way.

Andreas

[2022-05-01 17:43] #456 closed

[2022-05-01 18:12] #455 closed

[2022-05-01 18:14] #430 closed

[2022-05-12 03:09] fang13 opened #464 "error: unknown argument: '-mno-sched-prolog'"
when i use insights to parse a cpp file，some errors happen like
error: unknown argument: '-mno-sched-prolog'
error: unknown argument: '-fno-partial-inlining'

(The compiler in compile_command.json is 'arm-linux-gnueabi-g++')

how to solve this question?

[2022-05-12 07:06] andreasfertig commented on #464
Hello @fang13,

`arm-linux-gnueabi-g++` sounds to me like this json file was produced with a g++ compiler? If so, then I guess there are command line options which Clang doesn't understand. The fix would be deleting them from the json file.

Andreas

[2022-06-06 02:50] JJCUBER opened #467 "static inside lambda results in incorrect code"
The code
[code]
generates code with two separate functions with the same static variable declared twice
[code]
If one were to run the generated code with some direct calls of the lambda and some calls of it through a function pointer, it would result in incorrect results.

For example, you would get `123412` if you called it 4 times directly and then 2 times through a function pointer when using t

[2022-06-22 14:15] andreasfertig opened #468 "C++20 lambda in unevaluated context not shown"
This is a copy from 467 from @JJCuber, to track the issues individually.

Andreas

----

I just wanted to add that I've noticed a few other oddities when it comes to lambdas, including this (for C++20):
[code]
generates
[code]
(It uses a class that was never declared/defined.)

[2022-06-22 14:24] andreasfertig commented on #467
Hello @JJCUBER,

I moved the second (and third issue) to a new issue to be able to track and fix them independently. They are not related, especially the `decltype` case is very special :-)

Regarding

That one is a bit tricky. Here is what I know. Lambdas are declared at the most narrow scope, i.e., inside `main` in your example. However, as this is a process done by the compiler, the resulting t

[2022-06-27 07:23] andreasfertig commented on #415
Hello  @Ukilele,

I checked with the people at LLVM. See here [https://discourse.llvm.org/t/how-to-find-the-ast-node-for-conversion-operator-for-a-nttp/62507/3](https://discourse.llvm.org/t/how-to-find-the-ast-node-for-conversion-operator-for-a-nttp/62507/3). The answer is that the node in question is not present in the AST.

I'll see whether there is another way to get this information, but it lo

[2022-06-29 06:03] matrixjoeq opened #469 "[C++20] Coroutine header file requires -fcoroutines"
<coroutine> header file cannot be included for C++20 features. It reports the following error:
/usr/bin/../lib/gcc/x86_64-linux-gnu/11/../../../../include/c++/11/coroutine:334:2: error: "the coroutine header requires -fcoroutines"
#error "the coroutine header requires -fcoroutines"

[2022-06-29 06:05] matrixjoeq opened #470 "[C++20] format header file is not found"
When building source code with C++20 standard, the <format> header file introduced in C++20 standard is not found with following error:
/home/insights/insights.cpp:139:12: fatal error: 'format' file not found
  #include <format>

[2022-06-29 06:26] andreasfertig commented on #470
Hello @matrixjoeq,

thanks for reporting this. At the moment the standard libraries from both GCC and Clang don't have this header in the version C++ Insights uses.

Andreas

[2022-06-29 06:26] andreasfertig commented on #469
Hello @matrixjoeq,

thanks for reporting this. You need to enable "Use libc++". Clang and GCC are not compatible at the moment.

Andreas

[2022-07-04 09:02] #457 closed

[2022-07-09 06:05] Ladonnaemobile opened #472 "There is a difference between cpp insight and C++ Templates"
![code](https://user-images.githubusercontent.com/72662138/178093770-5ab6be7f-6fba-4367-8fac-30ff87130c72.png)

https://cppinsights.io/lnk?code=Y2xhc3MgTXlJbnQgewpwdWJsaWM6CglNeUludChpbnQpOwp9OwpNeUludCBvcGVyYXRvci0oTXlJbnQgY29uc3QgJik7CmJvb2wgb3BlcmF0b3I+KE15SW50IGNvbnN0ICYsIE15SW50IGNvbnN0ICYpOwp1c2luZyBJbnQgPSBNeUludDsKCnRlbXBsYXRlIDx0eXBlbmFtZSBUPgp2b2lkIGYoVCB0KSB7CglpZiAodCA+IDApIHsKCQlnKC10

[2022-07-14 01:42] Ladonnaemobile commented on #472
Thanks for your notice. The book is C++ Templates 2nd Edition and the related content is in Chapter14(Instantiation),14.3.2(Points of Instantiation).
The POI is confusing, maybe I mistook something....

[2022-07-14 01:48] Ladonnaemobile commented on #472
https://godbolt.org/z/8Pc785jWo
As the book says, if place the instantiation above function g, g is not visible.

[2022-07-14 03:02] wangzimei opened #473 "wrong name of base class"
hi, this code

[code]

gets translated to

[code]

here `std::remove_all_pointers<int>` should in fact be `remove_all_pointers<int>`, it has no namespace.

[2022-07-15 14:01] andreasfertig commented on #473
Hello @wangzimei,

thanks for catching that!

A fix is on its way.

Andreas

[2022-07-15 15:12] #473 closed

[2022-07-15 16:11] #472 closed

[2022-07-16 13:59] #467 closed

[2022-07-18 14:06] andreasfertig commented on #177
I never made progress with Windows support. I recently removed one of the Windows builds due to a compiler regression. I see Windows support as unreliable, which will cost me too much effort. I will leave this request open for a couple more days in case one wants to jump on and progress with, for example, the Wine setup.

[2022-07-18 14:10] andreasfertig commented on #8
Hello,

this issue has been open for quite a while now. I still believe that the diff is not easy to compare. I'll close the issue in a couple of days if nobody objects and shows some progress.

Andreas

[2022-07-18 14:12] andreasfertig commented on #393
Hello @fang13,

this issue has been open for some time now. I'll close it in a couple of days if nobody objects and presents a solution.

Andreas

[2022-07-18 16:28] #344 closed

[2022-07-23 16:33] JJCUBER commented on #468
The code still seems to fail to generate the lambda class unless the function is wrapped in a namespace/struct/class.  Most of the `p0315` tests seem to wrap the places where lambdas are in unevaluated contexts in a namespace/struct/class, so maybe this was intentional and/or a limitation?

I just wanted to bring attention to this just in case it was not intentional.

[2022-07-24 17:22] andreasfertig commented on #468
Hello @JJCUBER,

thanks for verifying! The matchers are the troublemakers. You spotted the missing case for the primary function template. A few commits ago, I refactored the matchers, enabling the upcoming patch to fix this issue.

Andreas

[2022-07-24 17:46] #468 closed

[2022-07-25 09:26] olafurw opened #490 "Odd output for decltype return values. Lambda hunt."
Found two things that stood out as odd.

**Case A**

[code]

This defines a lambda class but then uses it like this

[code]

Which does not seem like correct C++

![image](https://user-images.githubusercontent.com/103783/180744187-9455497d-cb00-463b-b63f-27db20f46312.png)

**Case B**

[code]

Which should be the same as Case A but the output does seem more correct but it does not define a lambda c

[2022-07-26 01:53] erzyadev opened #491 "Lambda decay inside lambda capture puts class definition inside constructor arguments"
`constexpr auto x = sizeof([var=+[]{}]{var();});`

translates into

[code]

[2022-07-26 06:35] adrian-stanciu opened #492 "[C++20] Lambdas in unevaluated contexts: wrong conversion from lambda to std::priority_queue"
C++ Insights link: https://cppinsights.io/s/f1515a7d

[code]
translates into
[code]
which is not valid C++ code:
[code]

A slightly modified function, where the lambda is defined before the `std::priority_queue`:
[code]
translates into
[code]
which is valid C++ code.

[2022-07-26 07:13] andreasfertig commented on #492
Hell @adrian-stanciu,

thanks for reporting this issue. I'm not entirely sure yet where the difference comes from. Anyhow, you're a winner of the Lambda Hunt Challenge. I don't see an email address on your GitHub page. Please reach out to me on Twitter or via the contact form on my homepage, and I will send you a link for a free copy of the book.

Andreas

[2022-07-27 07:20] andreasfertig commented on #490
Hello @olafurw,

thanks for reporting this. A fix is on its way.

Andreas

[2022-07-27 08:06] #490 closed

[2022-08-12 10:01] akashreddy1 opened #498 "make command issue"
I have rum the docker file(- https://github.com/andreasfertig/cppinsights-docker-base/blob/46dca0cf729dbeb558ffdf7208da1fc6c186586e/Dockerfile#L11) using make command and I am getting error below,
![Screenshot from 2022-08-12 02-56-13](https://user-images.githubusercontent.com/111112614/184331519-00651e15-c74a-4f36-a682-bb573b52d793.png)
I want to be install cpp insights in ubuntu 20.04 and get th

[2022-08-15 11:55] andreasfertig commented on #498
Hello @akashreddy1,

I moved this issue to the correct repository: https://github.com/andreasfertig/cppinsights/issues/498

[2022-08-15 12:16] andreasfertig commented on #498
Hello @akashreddy1,

I pointed you to the Docker file in our email conversation since you asked me which packages to install. I'm still not sure what you're trying to accomplish. Your native Ubuntu, you say, is 20.04, but the Docker container will use 21.04. It would be great if you could clarify what you are trying to accomplish.

The Docker build above fails with an HTTPS connection error where

[2022-08-31 15:26] leg0 opened #500 "Declaration of multiple variables is handled incorrectly"
Input:
[code]

Output:
[code]

Expecting to see all variable declarations in the output.

[2022-08-31 15:34] leg0 opened #501 "Function template arguments are not shown"
Given this code:
[code]

The output is
[code]

But I expected to see:
[code]

[2022-09-01 01:19] Sharath8598 opened #502 "How to install cpp insights"
Can i know how to install cpp insights in ubuntu. I tried with this command but ninja command through error.

[2022-09-01 01:20] Sharath8598 commented on #502
I had install cevelop after installation it is throughing linked library file error.

[2022-09-01 05:34] Sharath8598 opened #503 "Please guide the complete installation process in ubuntu"
Can you please guide the complete installation process in ubuntu. I am getting error after executing the ninja command .
![ninja](https://user-images.githubusercontent.com/112390552/187838761-387d7fb8-3f53-4711-867d-3d65eff63da8.PNG)

[2022-09-01 10:59] Sharath8598 commented on #503
Can you please guide the complete installation process in ubuntu. I am getting error after executing the ninja command

[2022-09-02 03:59] Sharath8598 opened #504 "Ninja command through error."
Please guide me how to install cpp insights.

cc1plus: all warnings being treated as errors
ninja: build stopped: subcommand failed.

 I am getting error after run ninja command

[2022-09-02 07:07] andreasfertig commented on #500
Hello @leg0,

thanks for reporting this! That's an issue in global scope only. The three variables all have the same source location. Hence there are three rewrites for the same location. As a result, only the last rewrite survives. I'm unsure how to fix this without tracking the variables, which I'm not particularly eager to do. I plan to switch to a transformation at the TU level, which would so

[2022-09-02 07:08] andreasfertig commented on #501
Hello @leg0,

thanks for spotting and reporting this issue! I will look into it. I assume that the `CallExpr` does not consider the template arguments.

Andreas

[2022-09-02 07:24] andreasfertig commented on #502
Hello @Sharath8598,

sorry that compiling C++ Insights causes you trouble.

I would appreciate it if you kept this in one issue instead of opening multiple issues with practically the same content. Your approach makes it hard for me to keep track of whether you managed to get a step further. Please close the issues related to this one, and let's keep the conversation to one single issue. Thank you

[2022-09-02 09:31] Sharath8598 commented on #502
g++ (Ubuntu 9.4.0-1ubuntu1~20.04.1) 9.4.0 .
I have LLVM-10
ninja is also installed

I had run these commads: **git clone https://github.com/andreasfertig/cppinsights.git
                                           mkdir build && cd build
                                           cmake -G"Ninja" ../cppinsights
                                            ninja**
But after running the ninja command i

[2022-09-02 10:24] andreasfertig commented on #502
Hello @Sharath8598,

the minimum LLVM and Clang version required for C++ Insights is 14. It appears that the CMake file is missing a proper check for that. Anyway, the compilers are checked but outdated. Thanks for finding this!

Your g++ version is probably too old as well. The CI uses g++-11.

Andreas

[2022-09-02 13:29] yanminhui commented on #502
Hi, @andreasfertig

**insights** can't be built on [llvm@15](https://github.com/llvm/llvm-project/tree/release/15.x).

[code]

[code]

[2022-09-02 13:41] andreasfertig commented on #502
Hello @yanminhui,

correct. LLVM 15 isn't released at this point. They're shortly before the release. I did not spend time looking into what has changed. However, feel free to open a dedicate issue about the missing LLVM 15 support.

Andreas

[2022-09-05 05:27] akashreddy1 commented on #498
can you please send the docker commends for ubuntu 20.04.
I am trying to install cpp insights in ubuntu 20.04 and I have gcc-11 installed in ubuntu 20.04.
I want to get the template instantiation output for simple example and I want to store the result to output file.

[2022-09-05 05:41] akashreddy1 commented on #498
Also I am trying to install cpp insights in ubuntu 20.04 using following commands
git clone https://github.com/andreasfertig/cppinsights.git
mkdir build && cd build
cmake -G"Ninja" ../cppinsights
ninja

After this "git clone https://github.com/andreasfertig/cppinsights.git" command I have changed the Cmake in line number 13 to
set(INSIGHTS_LLVM_CONFIG "llvm-config-14" CACHE STRING "LLVM config 14

[2022-09-05 15:12] andreasfertig commented on #498
Hello @akashreddy1,

while I'm still confused about the two different options you consider here (Docker or local build), the output looks to me like you've succeeded. I'm guessing since "`insights`" is not in a search-path of your shell, you need to put "`./`" in front when you invoke the binary:

[code]

Andreas

[2022-09-13 03:38] #498 closed

[2022-09-21 11:49] Sharath8598 opened #505 "printing output in html format!!"
Is it possible to print the output in html or xml format.
if yes !! can you please guide me the procedure .

[2022-09-21 14:39] andreasfertig commented on #505
Hello @Sharath8598,

I'm not sure whether I understand your question correctly. C++ Insights itself only does plain text output. Both HTML or XHTML are not supported.

But maybe you're asking whether you can print a page on cppinsights.io? Then the answer is, sadly, no. But I would  accept a PR adding this functionality to the web front end.

Andreas

[2022-09-22 05:37] Sharath8598 commented on #505
Hi,
Hope you are doing well.............!! I would like to  know  which function is used to display the output in terminal. So I can please let me know that function? It is very important at this point of time so please help me out.

[2022-09-22 08:30] andreasfertig commented on #505
Hello @Sharath8598,

I do, thanks!

C++ Insights uses [CodeMirror](https://codemirror.net/) for the syntax highlighting and HTML generation. If you want to get HTML formatted output from a local C++ Insights instance, you can also look at Python's codehilite.

Andreas

[2022-09-28 05:07] Sharath8598 commented on #505
Hi, good to know your doing well.
I  am running the cpp insights in ubuntu terminal(local machine), may I know which variable stores the cpp insights output or which function is displaying the output in the  terminal.  Because I want to know how to fetch the cpp insights output and send that output to another function(Please note that another  function told here refers to a user defined one).

[2022-09-28 19:13] andreasfertig commented on #505
Hello @Sharath8598,

inside C++ Insights, the closest I can point you to is [Insights.cpp#L114](https://github.com/andreasfertig/cppinsights/blob/8a5173a23ec69afaf71b211f5046d45b6bbcd9fc/Insights.cpp#L114). The `mRewriter` contains all the rewrites and the original source.

Andreas

[2022-10-26 19:59] pixeldexter opened #506 "Incorrect naming in parameter pack expansion"
https://cppinsights.io/s/5ced24b2

So, this code
   template<class...Match>
   bool search(char ch, Match&&...matchers) {
      return (matchers(ch) || ...);
   }
   search('A', ::isalpha, ::isdigit, []() { lambda });

gets insighted into
   bool search<... params...>(char ch, int (&matchers)(int) noexcept, int (&matchers)(int) noexcept, __lambda_12_50 && __matchers3)

Notice how first and second

[2022-10-29 15:40] Redstone1024 opened #507 "Wrong output for the initialization of static variables within a function"
For the initialization of static variables within functions, based on comparison with assembly output and analysis, I believe that a call to `__cxa_atexit` should be included, otherwise the class object cannot be destructured on program exit.

The following references are used in the analysis process.

[C++ Insights](https://cppinsights.io/lnk?code=c3RydWN0IGV4YW1wbGVfc3RydWN0CnsKICAgIGV4YW1wbGVfc

[2022-10-31 09:32] andreasfertig commented on #506
Hello @pixeldexter,

thanks for reporting this. You're right. There is a counter, the one Clang, assigned to each parameter. C++ Insights uses this counter is based on the query whether some parameter is part of a parameter pack. This function is here [InsightsHelpers.cpp](https://github.com/andreasfertig/cppinsights/blob/8a5173a23ec69afaf71b211f5046d45b6bbcd9fc/InsightsHelpers.cpp#L1230).

Now fo

[2022-10-31 09:35] andreasfertig commented on #507
Hello @Redstone1024,

thanks for reporting this. As far as I can tell, you're right. The only thing is that `__cxa_atexit` requires parameters. C++ Insights doesn't show destructors as they are not part of the AST. I must figure out what I want to do in this special case. Of course, if you bring me a PR, I will most likely accept that :-)

Andreas

[2022-10-31 11:23] Redstone1024 commented on #507
Thanks for the reply, also `if(!__tempGuard)` should it be `if((__tempGuard & 0xff) == 0)` ? After all, here it should ensure that the initialization is complete, not continue the logic below while other threads are initializing.

[2022-11-04 10:17] edwardbr opened #508 "Problems building on windows"
Hi I am building on Visual Studio Community 2019 amd64.  Against llvm 14.05, I am getting a lot of missing symbols and warnings.  To save you grief I have just included the errors.  I would love to get this working on my windows rig (our linux platform is in pipeline).  Can you give me pointers as to where I have gone off the rails?
I have tried branch v_0.8 and main to no avail.

The only change

[2022-11-04 19:38] andreasfertig commented on #508
Hello @edwardbr,

I'm sorry that building C++ Insights causes you trouble.

I abandoned the Windows build in the CI pipeline a while ago due to a compiler error. However, you're hitting something else. First, but that's not the reason for the compiler errors, you should be able to set `LLVM_CONFIG_PATH` via `cmake` with the `-DLLVM_CONFIG_PATH=PATH_TO_YOUR_LLVM` option.

The missing symbol errors

[2022-11-04 19:50] edwardbr commented on #508
Hi I am doing a kosher build as far as I can see build of llvm 14.05 as the binary distribution does not include llvm-config.  Building llvm is VERY slow!
I had to upload the logs as they were too long in the comment box

I am using this kit in vscode:
  {
    "name": "Visual Studio Community 2019 Release - amd64",
    "visualStudio": "6640c3ad",
    "visualStudioArchitecture": "x64",
    "preferr

[2022-11-09 07:39] NKID00 opened #509 "`inline namespace` in global scope causes crash"
The following input source

[code]

compiles but causes cppinsights to crash. The following stack trace is generated:

[code]

[2022-11-09 19:25] andreasfertig commented on #508
Hello @edwardbr,

thanks for posting the build log. These are the lines that I think are the root cause:

[code]

It looks to me that the runtime library settings do not match. Please note that I'm not an MSVC expert. I use that compiler mainly via GitHub Actions. What I learned is that these settings have to match. You can try to enable static linking for C++ Insights. That forces C++ Insights to

[2022-11-10 06:40] andreasfertig commented on #509
Hello @NKID00,

thanks for reporting and fixing this issue!

Andreas

[2022-11-10 06:41] #509 closed